<nav class="navbar_primary" role="navigation">
    <ul id="toggle-nav" class="nav">
        <li class="navbar_dd">
            <a href="#">Guiding</a>
			<button type="button" class="btn--link">
				<i class="i"></i>
			</button>
            <div class="navbar_dd-mega">
                <div class="l-container">
                    <ul class="nav">
                        <li><a href="#">Advice and information</a></li>
                        <li><a href="#">Ask Anna</a></li>
                        <li><a href="#">Business topics</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="navbar_dd">
            <a href="#">Developing</a>
			<button type="button" class="btn--link">
				<i class="i"></i>
			</button>
            <div class="navbar_dd-mega">
                <div class="l-container">
                    <ul class="nav">
                        <li><a href="#">Board development</a></li>
                        <li><a href="#">Chartered Director</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="navbar_dd">
            <a href="#">Connecting</a>
			<button type="button" class="btn--link">
				<i class="i"></i>
			</button>
            <div class="navbar_dd-mega">
                <div class="l-container">
                    <ul class="nav">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Annual Convention 2013</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="navbar_dd">
            <a href="#">Influencing</a>
			<button type="button" class="btn--link">
				<i class="i"></i>
			</button>
            <div class="navbar_dd-mega">
                <div class="l-container">
                    <ul class="nav">
                        <li><a href="#">Area of influence</a></li>
                        <li><a href="#">The economy</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="navbar_dd">
            <a href="#">You</a>
			<button type="button" class="btn--link">
				<i class="i"></i>
			</button>
            <div class="navbar_dd-mega">
                <div class="l-container">
                    <ul class="nav">
                        <li><h4 class="navbar_title"><a href="#">Your venues and benefits</a></h4></li>
                        <li><a href="#">International</a></li>
                        <li><a href="#">East Midlands</a></li>
                    </ul>
                    <ul class="nav">
                        <li><h4 class="navbar_title"><a href="#">Your local network</a></h4></li>
                        <li><a href="#">Director training and development</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Legal alert</a></li>
                        <li><a href="#">Directors' Advisory Service</a></li>
                        <li><a href="#">Directors' Law Express</a></li>
                        <li><a href="#">Directors' Tax Line</a></li>
                        <li><a href="#">Publications</a></li>
                        <li><a href="#">Legal alert</a></li>
                        <li><a href="#">Directors' Advisory Service</a></li>
                        <li><a href="#">Directors' Law Express</a></li>
                        <li><a href="#">Directors' Tax Line</a></li>
                        <li><a href="#">Publications</a></li>
                        <li><a href="#">Legal alert</a></li>
                        <li><a href="#">Directors' Advisory Service</a></li>
                        <li><a href="#">Directors' Law Express</a></li>
                        <li><a href="#">Directors' Tax Line</a></li>
                        <li><a href="#">Publications</a></li>
                        <li><a href="#">Legal alert</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="join">
            <a href="#">Join the IoD</a>
        </li>
    </ul>
</nav>