<nav id="navbar-nav" class="navbar flyout" role="navigation">
    <ul id="toggle-nav" class="nav navbar__nav flyout__inner">

        <!-- <li id="js-navbarSearch" class="navbar__search">
            <form>
                <label for="search" class="sr-only">Search website</label>
                <input type="search" id="search" class="form-control navbar__search-input" placeholder="Search website">
                <input type="submit" id="btnSearch" class="navbar__search-submit" aria-label="Search">
                <span class="fa navbar__search-icon" title="Click to Search"></span>
            </form>
        </li> -->

        <li>
            <a href="#">Guiding</a>
            <div class="dropdown--mega">
                <div class="l-container">
                    <ul class="nav">
                        <li><a href="#">Advice and information</a></li>
                        <li><a href="#">Ask Anna</a></li>
                        <li><a href="#">Business topics</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Developing</a>
            <div class="dropdown--mega">
                <div class="l-container">
                    <!-- <h3><a href="#">Professional Development</a></h3> -->
                    <ul class="nav">
                        <li><a href="#">Board development</a></li>
                        <li><a href="#">Chartered Director</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Connecting</a>
            <div class="dropdown--mega">
                <div class="l-container">
                    <!-- <h3><a href="#">Connecting With Us</a></h3> -->
                    <ul class="nav">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Annual Convention 2013</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Influencing</a>
            <div class="dropdown--mega">
                <div class="l-container">
                    <!-- <h3><a href="#">Influencing</a></h3> -->
                    <ul class="nav">
                        <li><a href="#">Area of influence</a></li>
                        <li><a href="#">The economy</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">You</a>
            <div class="dropdown--mega">
                <div class="l-container">
                    <ul class="nav">
                        <li><h4><a href="#">Your venues and benefits</a></h4></li>
                        <li><a href="#">International</a></li>
                        <li><a href="#">East Midlands</a></li>
                    </ul>
                    <ul class="nav">
                        <li><h4><a href="#">Your local network</a></h4></li>
                        <li><a href="#">Director training and development</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="navbar__membership">
            <a href="#" class="join">Join the IoD</a>
        </li>
        <li class="navbar__membership">
            <a href="#" class="member">Membership</a>
            <div class="dropdown--mega">
                <div class="l-container">
                    <ul class="nav">
                        <li><a href="#">International</a></li>
                        <li><a href="#">East Midlands</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="navbar__secondary">
            <ul class="nav">
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-youtube-square"></i></a>
                </li>
                <!-- <li id="js-navbarSearch" class="navbar__search">
                    <form>
                        <label for="search" class="sr-only">Search website</label>
                        <input type="search" id="search" class="form-control navbar__search-input" placeholder="Search website">
                        <input type="submit" id="btnSearch" class="navbar__search-submit" aria-label="Search">
                        <span class="fa navbar__search-icon" title="Click to Search"></span>
                    </form>
                </li> -->
            </ul>
        </li>
    </ul>
</nav><!--end .nav-->
