<ol class="pagination">
  <li>
    <a href="{{ url }}"  class="btn btn--sm">1</a>
  </li>
  <li class="is-current">
    <a href="{{ url }}" class="btn btn--sm">2</a>
  </li>
  <li>
    <a href="{{ url }}" class="btn btn--sm">3</a>
  </li>
  <li>
    <a href="{{ url }}" class="btn btn--sm">4</a>
  </li>
  <li>
    <a href="{{ url }}" class="btn btn--sm">5</a>
  </li>
  <li>
    <a href="{{ url }}" class="btn btn--sm">6</a>
  </li>
  <li>
    <a href="{{ url }}" class="btn btn--sm">7</a>
  </li>
</ol>