<div class="navbar__secondary">
    <ul class="nav navbar__nav--second-two">
        <li class="social">
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </li>
        <li class="social">
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="social">
            <a href="#"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li class="social">
            <a href="#"><i class="fa fa-youtube-play"></i></a>
        </li>
    </ul>
    <nav class="navbar__nav--second-one" role="navigation">
        <ul class="nav">
            <li>
                <a href="#">Director</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
            <li>
                <a href="#">Login <i class="fa fa-caret-right"></i></a>
            </li>
        </ul>
    </nav>
</div>