<nav role="navigation">
    <ul class="nav">
        <li>
            <a href="#">Advice and information</a>
        </li>
        <li class="is-disabled">
            <a href="#">Ask Anna</a>
        </li>
        <li class="is-active">
            <a href="#">Business topics</a>
        </li>
        <li>
            <a href="#">Business topics</a>
        </li>
    </ul>
</nav>

<nav role="navigation">
    <ul class="nav nav--inline">
        <li>
            <a href="#">Advice and information</a>
        </li>
        <li class="is-disabled">
            <a href="#">Ask Anna</a>
        </li>
        <li class="is-active">
            <a href="#">Business topics</a>
        </li>
        <li>
            <a href="#">Business topics</a>
        </li>
    </ul>
</nav>

<nav role="navigation">
    <ul class="nav list--rows">
        <li>
            <a href="#">Advice and information</a>
        </li>
        <li class="is-disabled">
            <a href="#">Ask Anna</a>
        </li>
        <li class="is-active">
            <a href="#">Business topics</a>
        </li>
        <li>
            <a href="#">Business topics</a>
        </li>
    </ul>
</nav>

<nav class="u-fr" role="navigation">
    <ul class="nav nav--inline list--cols">
        <li>
            <a href="#">Advice and information</a>
        </li>
        <li class="is-disabled">
            <a href="#">Ask Anna</a>
        </li>
        <li class="is-active">
            <a href="#">Business topics</a>
        </li>
        <li>
            <a href="#">Business topics</a>
        </li>
    </ul>
</nav>

<nav class="u-cr" role="navigation">
    <ul class="nav nav--pills">
        <li>
            <a href="#">Advice and information</a>
        </li>
        <li class="is-disabled">
            <a href="#">Ask Anna</a>
        </li>
        <li class="is-active">
            <a href="#">Business topics</a>
        </li>
        <li>
            <a href="#">Business topics</a>
        </li>
    </ul>
</nav>

<nav role="navigation">
    <ul class="nav nav--pills nav--inline">
        <li>
            <a href="#">Advice and information</a>
        </li>
        <li class="is-disabled">
            <a href="#">Ask Anna</a>
        </li>
        <li class="is-active">
            <a href="#">Business topics</a>
        </li>
        <li>
            <a href="#">Business topics</a>
        </li>
    </ul>
</nav>