&lt;form class=&quot;f-horizontal&quot; action=&quot;#&quot; role=&quot;form&quot;&gt;
  &lt;fieldset class=&quot;wf-1&quot;&gt;
    &lt;legend&gt;Inputs&lt;/legend&gt;
    &lt;div class=&quot;f-group&quot;&gt;
      &lt;label for=&quot;title&quot; class=&quot;control-label&quot;&gt;Name&lt;/label&gt;
      &lt;div class=&quot;w-3&quot;&gt;
        &lt;select id=&quot;title&quot; class=&quot;f-control&quot;&gt;
          &lt;option&gt;Please Select...&lt;/option&gt;
          &lt;option&gt;Mr&lt;/option&gt;
          &lt;option&gt;Mrs&lt;/option&gt;
          &lt;option&gt;Ms&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class=&quot;w-4&quot;&gt;
        &lt;input id=&quot;text&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;First&quot; /&gt;
      &lt;/div&gt;
      &lt;div class=&quot;w-4&quot;&gt;
        &lt;input id=&quot;password&quot; type=&quot;password&quot; class=&quot;f-control&quot; placeholder=&quot;Last&quot; /&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;f-group&quot;&gt;
      &lt;label for=&quot;job&quot; class=&quot;control-label&quot;&gt;Job&lt;/label&gt;
      &lt;div class=&quot;w-6&quot;&gt;
        &lt;input id=&quot;job&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;Job Title&quot; /&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;

  &lt;fieldset class=&quot;f-group wf-1&quot;&gt;
    &lt;legend class=&quot;sr-only&quot;&gt;Checkboxes&lt;/legend&gt;
    &lt;label class=&quot;control-label&quot;&gt;Options&lt;/label&gt;
    &lt;div class=&quot;w-10&quot;&gt;
      &lt;label for=&quot;radio1&quot; class=&quot;radio&quot;&gt;
        &lt;input id=&quot;radio1&quot; name=&quot;radio&quot; type=&quot;radio&quot; checked=&quot;&quot; /&gt; Option 1
      &lt;/label&gt;
      &lt;label for=&quot;radio2&quot; class=&quot;radio&quot;&gt;
        &lt;input id=&quot;radio2&quot; name=&quot;radio&quot; type=&quot;radio&quot; /&gt; Option 2
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;

  &lt;div class=&quot;f-group&quot;&gt;
    &lt;div class=&quot;w-11 w-offset-1&quot;&gt;
      &lt;button type=&quot;submit&quot; class=&quot;btn btn--primary u-fr&quot;&gt;Login&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;