&lt;h1 class=&quot;docs-heading&quot; style=&quot;font-weight: 400;&quot;&gt;Heading font:&lt;/h1&gt;
&lt;h1 style=&quot;font-weight: 400;&quot;&gt;&lt;em class=&quot;docs-heading&quot;&gt;Heading italic font:&lt;/em&gt;&lt;/h1&gt;
&lt;h1 class=&quot;docs-heading&quot;&gt;Heading font bold:&lt;/h1&gt;
&lt;h1&gt;&lt;em class=&quot;docs-heading&quot;&gt;Heading font bold italic:&lt;/em&gt;&lt;/h1&gt;

&lt;p class=&quot;docs-body&quot;&gt;Body font:&lt;/p&gt;
&lt;p&gt;&lt;em class=&quot;docs-body&quot;&gt;Body font italic:&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong class=&quot;docs-body&quot;&gt;Body font bold:&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em class=&quot;docs-body&quot;&gt;Body font bold italic:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;