&lt;ul class=&quot;sg-palette&quot;&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-green-dark&quot;&gt;GREEN-DARK&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-green-base&quot;&gt;GREEN&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-green-light&quot;&gt;GREEN-LIGHT&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;ul class=&quot;sg-palette&quot;&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-gold-dark&quot;&gt;GOLD-DARK&lt;/span&gt;
  &lt;/li&gt;                      
  &lt;li&gt;                       
    &lt;span class=&quot;sg-color sg-gold-base&quot;&gt;GOLD&lt;/span&gt;
  &lt;/li&gt;                      
  &lt;li&gt;                       
    &lt;span class=&quot;sg-color sg-gold-light&quot;&gt;GOLD-LIGHT&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;ul class=&quot;sg-palette&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-color sg-red-dark&quot;&gt;RED-DARK&lt;/span&gt;
	&lt;/li&gt;
    &lt;li&gt;
        &lt;span class=&quot;sg-color sg-red-base&quot;&gt;RED&lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;span class=&quot;sg-color sg-red-light&quot;&gt;RED-LIGHT&lt;/span&gt;
    &lt;/li&gt;
&lt;/ul&gt;
&lt;ul class=&quot;sg-palette&quot;&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-blue-dark&quot;&gt;BLUE-DARK&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-blue-base&quot;&gt;BLUE&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-blue-light&quot;&gt;BLUE-LIGHT&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;ul class=&quot;sg-palette&quot;&gt;
    &lt;li&gt;
        &lt;span class=&quot;sg-color sg-purple-dark&quot;&gt;PURPLE-DARK&lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;span class=&quot;sg-color sg-purple-base&quot;&gt;PURPLE&lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;span class=&quot;sg-color sg-purple-light&quot;&gt;PURPLE-LIGHT&lt;/span&gt;
    &lt;/li&gt;
&lt;/ul&gt;
&lt;ul class=&quot;sg-palette&quot;&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-social-facebook&quot;&gt;FACEBOOK&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-social-twitter&quot;&gt;TWITTER&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-social-linkedin&quot;&gt;LINKEDIN&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-color sg-social-youtube&quot;&gt;YOUTUBE&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;