&lt;div class=&quot;media&quot;&gt;
  &lt;div class=&quot;media_fl&quot;&gt;
    {{&gt; atoms-square }}
  &lt;/div&gt;
  &lt;div class=&quot;media_body&quot;&gt;
    &lt;h2 class=&quot;media_heading&quot;&gt;{{ headline.medium }}&lt;/h2&gt;
    &lt;p class=&quot;lead&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
    &lt;p&gt;{{ excerpt.long }}&lt;/p&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--primary u-fr&quot;&gt;Read more&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;