/*================*\
   #FORM-CONTROLS
\*================*/


/**
 * Date Range (rename to f-inbetween?)
 */
.f-range {
  .f-control_static {
    overflow: hidden;
    padding-left: ($column-gutter / 4);
    padding-right: ($column-gutter / 4);
    text-align: center;
  }
}



/**
 * Address Control
 */
//.f-address-control {
//  @include cf();
//  .legend .btn {
//    float: right;
//  }
//}

//.f-address,
.f-find_postcode,
.f-find_address,
.f-address_country {
  display: none;
}


.f-address-control {
  &.is-uk {
    .f-find_postcode,
    .f-address_country {
      display: block;
    }
  }

  &.is-row {
    .f-address_country {
      display: block;
    }

    .f-find_postcode,
    .f-address_postcode {
      display: none;
    }
  }
}
