/*========*\
   #BOXES
\*========*/


/*
 * Base class
 */
.box,
%box {
  background-color: #fff; // $well-bg;
  border: 1px solid $border-base;
  min-height: 20px;
  padding: $padding-base-horizontal;

  blockquote {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

/*
 * Alternative colour
 */
.box--alt {
  background-color: color(grey, lightest);
  border: 0;
}

/*
 * Sizes
 */
.box--lg {
  padding: $padding-lg-horizontal;
}

.box--sm {
  padding: $padding-sm-horizontal;
}


.box--well {
  border-bottom: 0;
  box-shadow: 0 5px $blockquote-highlight;
  margin-bottom: $line-height-computed + rem(5px);
}
