/*============*\
   #ECOMMERCE
\*============*/


.ecomBasket {
  padding: 0;

  .table {
    border-bottom: 1px solid $border-base;
    margin-bottom: ($line-height-computed / 2);

    thead th,
    tbody td,
    tfoot td {
      padding: $padding-base-horizontal;
    }

    > thead {
      background-color: color(secondary);
      color: #fff;

      th {
        border-color: color(secondary, dark);
      }
    }

    > thead th:last-child,
    > tbody td:last-child,
    > tfoot td {
      text-align: right;
    }

    > tfoot {
      background-color: color(grey, lightest);
    }
  }

  .qty {
    min-width: 50px;
    text-align: center;
  }
}
