/*============*\
   #ECOMMERCE
\*============*/


.basket {
  padding: 0;

  .table {
    border-bottom: 1px solid $border-base;
    margin-bottom: ($line-height-computed / 2);

    thead th,
    tbody td,
    tfoot td {
      padding: $padding-base-horizontal;
    }

    > thead {
      background-color: color(secondary);
      color: #fff;

      th {
        border-color: color(secondary, dark);
      }
    }

    > thead th:last-child,
    > tbody td:last-child,
    > tfoot td {
      text-align: right;
    }

    > tfoot {
      background-color: color(grey, lightest);
    }

    > thead th:nth-child(2) {
      text-align: center;
    }
  }

  .qty input {
    border-color: transparent;
    margin-right: -12px;
    text-align: center;
    width: 58px;
  }
}

.crumbs,
.crumbs .list-collapsable_list {
  @include cf();
}

//.crumbs {
//  padding: sz(3px 0 6px);
//}


/**
 * General item in list
 */
.crumbs_item {
  float: left;
  font-size: sz(12px);
  line-height: sz(14px);
  white-space: nowrap;
}


/**
 * Link in general item 
 */
.crumbs_item a {
  background-color: color(grey, lighter);
  color: $txt-color;
  display: inline-block;
  margin-left: sz(4px);
  padding: sz(2px 5px);

  &:hover,
  &:focus {
    background-color: color(grey, lightest);
    color: $txt-color;
    //text-decoration: none;
  }
}


/**
 * Home / first item in list
 */
.crumbs_item:first-child a {
  //@include opacity(.3);
  background-color: transparent;
  margin-left: 0;
  padding-bottom: 0;
  padding-top: 0;

  &:hover,
  &:focus {
    //@include opacity(.7);
    //background-color: color(grey, lighter);
  }

  &:before {
    left: 0;
    top: 1px;
  }

  span {
    @extend .u-sr;
  }
}


/**
 * Section or Category / second item in list
 */
.crumbs_item:first-child + .crumbs_item a {
  background-color: color(primary);
  color: #fff;
  margin-left: sz(4px);
  padding-left: sz(7px);

  &:hover,
  &:focus {
    background-color: color(primary, light);
  }
}


/**
 * Current Location / Last item in list
 */
.crumbs_item:last-child,
.crumbs_item--last {
  margin-left: sz(6px);
  padding: sz(3px 0 1px);
}



//@include mq($from: mobile) {
/**
  * General item in list
  */
.crumbs_item {
  position: relative;
    
  a {
    margin-left: sz(25px);

    &:hover,
    &:focus {
      &:before,
      &:after {
        border-left-color: color(grey, lightest);
        border-right-color: color(grey, lightest);
      }
    }
    
    &:before {
      border-right: sz(18px) solid color(grey, lighter);
      border-bottom: sz(18px) inset transparent;
      left: sz(7px);
    }

    &:after {
      border-left: sz(18px) solid color(grey, lighter);
      border-top: sz(18px) inset transparent;
      right: sz(-18px);
    }
  }
}

.crumbs_item:not(:first-child) a {
  &:before,
  &:after {
    content: '';
    display: inline-block;
    height: 0;
    outline: 0 none;
    position: absolute;
    top: 0;
    width: sz(18px);
  }
}


/**
  * Home / first item in list
  */
.crumbs_item:first-child {
  a {
    &:before,
    &:after {
      border: 0;
    }

    &:hover,
    &:focus {
      &:before {
        @include opacity(1);
      }
    }
  }
}


/**
  * Section or Category / second item in list
  */
.crumbs_item:first-child + .crumbs_item a {
  &:hover,
  &:focus {
    &:before,
    &:after {
      border-left-color: color(primary, light);
      border-right-color: color(primary, light);
    }
  }
    
  &:before {
    border: 0;
  }

  &:after {
    border-left-color: color(primary);
  }
}


/**
  * Current Location / Last item in list
  */
.crumbs_item:last-child,
.crumbs_item--last {
  margin-left: sz(23px);
}

//&:after {
//  content: $fa-var-angle-right; // ">";
//  font-family: FontAwesome;
//  font-size: 10px;
//  margin: 0 3px;
//  position: relative;
//}
//}
