.flyout,
%flyout {
  @include transition(all .3s ease);
  @include backface-visibility(hidden);
  @include cf;
  //background-color: lighten($navbar-dd-bg, 7%);
  //border-top: 4px solid darken($navbar-dd-bg, 7%);
  //right: sz(-$navbar-width);
  //width: sz($navbar-width);
  height: 100%;
  position: fixed;
  top: 0;
}

.flyout.is-active, {
  right: 0;
  z-index: 1001;
}

//@include mq($to: navbar) {
//	overflow: hidden;
//}


.flyout__outer {
  height: 100%;
  overflow: hidden;
  width: sz($navbar-width);
}


.flyout__inner {
  height: 100%;
  width: sz($navbar-width + 30);

  @include mq($to: navbar) {
    overflow-y: auto;
    overflow-x: hidden;
  }
}


.flyout__overlay {
  @include opacity(0);
  background-color: #000;
  display: none;

  &.is-active {
    @include opacity(.5);
    bottom: 0;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}
