/*===================*\
   #NAVBAR-SECONDARY
\*===================*/


.navbar_secondary {
  display: table-footer-group;
  font-size: rem(12px);

  @include mq($from: navbar) {
    border-bottom: 1px solid $navbar-border;
    //border-top: 1px solid $navbar-border;
    display: block;
    margin-bottom: rem(9px);
    overflow: auto;
    //max-width: 83%;

    .navbar_nav--mini {
      background-color: $navbar-bg;

      a {
        border-right: 1px solid $navbar-border;
        padding: rem(2px) $padding-base-horizontal;
      }
    }
  }

  li {
    line-height: 1.5;

    @include mq($from: navbar) {
      float: left;
    }

    &:first-child {
      border-top: 1px solid $navbar-border;
      //margin-top: rem(15px);
      padding-top: rem(15px);

      @include mq($from: navbar) {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
      }
    }

    a {
      text-transform: uppercase;
    }
  }

  .nav {
    margin-right: 0;
  }
}
