// ====================
// NAVBAR
// ====================


.navbar__nav > .navbar__tab--secondary {
    // background-color: lighten($navbar-dropdown-bg, 14%);
    font-size: sz(13px);

    li {
        a {
            padding: sz(7px 45px 7px 10px);
        }
    }
}


@include mq($to: navbar) {
    // .navbar__tabs {
    //     background-color: lighten($navbar-dropdown-bg, 7%);
    //     border-left: 1px solid darken($navbar-dropdown-bg, 7%);
    //     right: sz(-$navbar-width);
    //     position: fixed;
    //     width: sz($navbar-width);
    //     height: 100%;
    //     overflow: hidden;
    //     top: 0;
    // }

    .nav > .navbar__tab {
        float: right;
        position: static;
        width: 50%;

        &:first-child > a {
            border-left: 1px solid darken($navbar-dropdown-bg, 7%);
        }

        > a {
            background-color: $navbar-dropdown-bg;
            border-bottom: 1px solid darken($navbar-dropdown-bg, 7%);
            color: $navbar-dropdown-color;
            text-align: center;
            white-space: nowrap;

            &:hover,
            &:focus {
                background-color: darken($navbar-dropdown-bg, 7%);
            }

            + .navbar,
            + .basket {
                display: none;
                position: absolute;
                left: 0;

                > .l-container {
                    @include opacity(0);
                }
            }
        }

        &.is-open > a {
            background-color: lighten($navbar-dropdown-bg, 7%);
            border-bottom-color: transparent;

            &:hover,
            &:focus {
                background-color: transparent;
            }

            + .navbar,
            + .basket {
                display: block;

                > .l-container {
                    @include opacity(1);
                }
            }
        }
    }

    .nav > li > .basket__close {
        display: none;
    }
   
    .navbar__tabs,
    .navbar__push {
        @include transition(all .3s ease);
        @include backface-visibility(hidden);
    }
}



// @include mq($from: navbar) {
//     .navbar__tabs {
//         margin-left: 200px;
//         position: relative;
//     }

//     .nav > .navbar__tab--nav {
//         clear: right;
//         position: initial;

//         > a {
//             display: none;
//         }
//     }

//     .nav > .navbar__tab--basket {
//         float: right;
//         font-size: sz(13px);
//     }

//     .nav > .navbar__tab--basket {
//         > a {
//             background-color: color(grey, lighter);
//             color: $text-color;

//             &.is-empty {
//                 color: color(grey);
//             }
//         }

//         a {
//             padding: sz(7px 10px);
//         }

//         .basket {
//             @include transition(all .3s ease);
//             background-color: $navbar-dropdown-bg;
//             right: sz(-$navbar-width);
//             position: fixed;
//             top: 0;
//             z-index: 1002;
//         }

//         &.is-active {
//             .basket {
//                 @include box-shadow(-1px 0 3px rgba(0,0,0,.2));
//                 right: 0;
//             }
//         }

//         .basket__close {
//             @include box-shadow(inset -1px -1px 2px rgba(0,0,0,.1));
//             background-color: darken($navbar-dropdown-bg, 7%);
//             border-right: ($navbar-width - 30) solid $navbar-dropdown-bg;
//             color: $navbar-dropdown-color;
//             display: block;
//             float: left;
//             font-size: sz(14px);
//             padding: sz(6px 10px);
//             text-align: center;

//             &:hover,
//             &:focus {
//                 background-color: darken($navbar-dropdown-bg, 14%);
//             }
//         }
//     }

//     .nav.navbar__nav > .navbar__tab--secondary {
//         background-color: $navbar-dropdown-bg;
//         position: absolute;
//         top: -73px;
//         right: 94px;
//         float: none;
//         margin: 0;

//         li {
//             float: left;

//             a {
//                 padding: sz(7px 10px);

//                 &:hover,
//                 &:focus {
//                     background-color: lighten($navbar-dropdown-bg, 7%);
//                 }
//             }
//         }
//     }
// }