/*=========*\
   #NAVBAR
\*=========*/


/*
 * Navbar
 */
.navbar {
  background-color: $header-bg;
  //border-bottom: 1px solid $navbar-border;
  //margin-bottom: $line-height-computed;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z(flyout) + 1;

  //&:before {
  //  left: $navbar-brand-width;
  //  top: 40px; // 28px;
  //}

  //&:after {
  //  top: 103px;
  //}

  @include mq($from: navbar) {
    &:before {
      background-color: $navbar-bg;
      border-bottom: 1px solid $navbar-border;
      //border-top: 1px solid $navbar-border;
      content: '';
      display: block;
      height: 23px;
      left: 50%;
      position: absolute;
      top: 0;
      width: 50%;
    }
  }

  > .l-container {
    position: relative;
  }

  /*
   * Navbar toggle "button"
   */
  .toggle_btn {
    color: $navbar-color;
    line-height: $line-height-base;
    padding: rem(10px) $padding-base-horizontal;
    position: absolute;
    right: 0;
    top: 0;
    z-index: z(flyout, toggle);

    @include mq($from: mobile) {
      width: rem(110px);
    }

    @include mq($from: navbar) {
      display: none;
    }
  }
}


/*
 * Brand name
 * ie needs height for SVG
 */
.navbar_brand {
  //border-right: 1px solid $navbar-border;
  display: block;
  float: left;
  //padding: rem(0 10px 0 0);
  position: relative;
  width: $navbar-brand-width;

  //@include mq($from: navbar) {
  //  //height: 99px;
  //  //padding: rem(0 20px 0 0);
  //  width: $navbar-brand-width + 30px;
  //}
}


/*
 * Navbar checkbox
 * Hidden, this is used so the navigation slides out with or without js
 */
// @include mq($to: navbar) {
//  .flyout_wrapper .toggle_chkbx {
//    &:checked + .toggle_btn + .navbar_flyout {
//      right: 0;
//    }
//  }
//}


/*
 * Navbar inner scroll wrapper
 */
.navbar_nav {
  background-color: $navbar-bg;
  margin-top: rem(70px);
  padding: rem(0 0 80px);
  position: relative;
  
  @include mq($from: navbar) {
    margin-top: 0;
  }

  .nav > li > a {
    color: $navbar-color;
    //text-decoration: none;

    &:hover,
    &:focus {
      background-color: $navbar-hover-bg;
    }
  }
}


//.navbar_crumbs {
//  @include cf;
//  //background-color: #444;
//  clear: left;
//  //margin-left: $navbar-brand-width;

//  .crumbs {
//    float: left;
//    position: relative;
//    width: 100%;
//    z-index: 1;
//  }

//  //.navbar__search {
//  //    margin-top: -1px;
//  //}

//  //@include mq($from: navbar) {
//  //  border-top: 1px solid $navbar-border;
//  //  clear: none;
//  //  margin-left: $navbar-brand-width + 35;
//  //      
//  //  .crumbs {
//  //    width: auto;
//  //  }
//  //}
//}


/*
 * Navbar Flyout
 */
.navbar_flyout {
  @extend %flyout;
  //backface-visibility: hidden;
  //background-color: transparent;
  //right: rem(-$navbar-width);
  width: rem($navbar-width);
  z-index: z(flyout) + 1; /* puts menu above content*/
  
  @include mq($from: navbar) {
    background-color: transparent;
    margin-left: $navbar-brand-width;
    overflow: visible;
    position: relative;
    right: auto;
    transform: translateX(0);
    transition: none;
    visibility: visible;
    width: auto;

    ~ .toggle_btn {
      display: block;
      padding: rem(2px 10px);
    }
    
    .flyout_close {
      display: none;
    }

    > .flyout_inner {
      padding-bottom: 0;
      width: auto;
    }
  }
}


/*
 * Navbar Basket "button"
 */
.navbar .basket {
  //background-color: $btn-primary-bg;
  //color: $btn-color-alt;
  float: right;
  margin-right: rem(40px);

  @include mq($from: mobile) {
    margin-right: rem(110px);

    .basket_txt {
      display: inline-block;
    }
  }

  @include mq($from: navbar) {
    margin-right: 0;
    position: absolute;
    top: 0;
    z-index: 100000;
  }

  &:hover,
  &:focus {
    //background-color: darken($btn-primary-bg, 7%);
  }

  &.is-empty {
    display: none;
  }

  //&.i-basket:before {
  //  height: rem(18px);
  //  width: rem(18px);
  //}
}
