// ====================
// NAVBAR
// ====================


// Navbar
.navbar {
     &:before,
     &:after {
        background-color: $navbar-border;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        width: 50%;
    }

    &:before {
        height: 1px;
        //left: 50%;
        top: 34px;
    }

    &:after {
        background-color: #444;
        height: 28px;
        top: 106px;

        @include mq($from: navbar) {
            //left: 130px;
            top: 94px;
            //width: 50%;
        }
    }
}


// Brand/project name
.navbar__brand {
    background-color: #fff;
    border-right: 1px solid $navbar-border;
    display: block;
    float: left;
    padding: sz(15px 15px 13px 7px);
    position: relative;

    @include mq($from: navbar) {
        margin-bottom: -10px;
        padding: sz(22px) sz(15px) 0 sz(5px);        
    }
}


// Navbar inner scroll wrapper
.navbar__nav {
    position: relative;
}


// Navbar checkbox
.navbar__check {
    display: none;

    &:checked {
        + .navbar__toggle {
            &:before {
                content: $fa-var-times;
            }
        }
    }

    &:focus {
        outline: 0;

        + label {
            outline: 2px auto -webkit-focus-ring-color;
        }
    }
}


.navbar__flyout {
    @extend %flyout;
}

.flyout--mobile {
    background-color: lighten($navbar-bg, 7%);
    border-top: 4px solid darken($navbar-bg, 7%);
    right: sz(-$navbar-width);
    width: sz($navbar-width);

    @include mq($from: mobile) {
        background-color: transparent;
        border-top: 0;
        position: static;
        right: auto;
        width: auto;

        > .flyout__inner {
            width: auto;
        }
    }
}


// Primary Navbar with dropdowns
.navbar__primary .nav > .navbar__dd {
    // dropdown link arrow-down
    > a {        
        &:after {
            font-family: FontAwesome;
            margin-left: 5px;
            content: $fa-var-caret-down;
        }
    }

    @include mq($to: navbar) {
        // dropdown link arrow-up
        &.is-active > a:after {
            content: $fa-var-caret-up;
        }

        > a {
            letter-spacing: 1px;
        }
    }

    @include mq($from: navbar) {
        @include transition(background-color .3s .1s ease-in);
        float: left;
        margin-left: sz(2px);
        position: static;

        &:first-child {
            margin-left: 0;
        } 

        > a {
            @include transition(color .3s .1s ease-in);
            border: 0;
            color: $navbar-color;
            //min-height: 60px;
            padding-top: sz(20px);
            padding-bottom: sz(19px);

            &:hover,
            &:focus {
                @include transition(color 0s);
                background-color: transparent;
            }
        }

        &:hover {
            @include transition(background-color 0s);
            background-color: $navbar-dd-bg;

            a {
                color: $navbar-dd-color;

                + .navbar__dd-mega {
                    max-height: 1000px;
                 
                    > .l-container {
                        @include opacity(1);
                    }
                }
            }

            > a:after {
                content: $fa-var-caret-up;
            }
        }
    }
}


.navbar__nav {
    .nav {
        > li {
            > a {
                border-bottom: 1px solid darken($navbar-bg, 5%);
                border-top: 1px solid darken($navbar-bg, 5%);
                color: $navbar-color;
                margin-bottom: -1px;

                &:hover,
                &:focus {
                    background-color: $navbar-bg;
                }
            }
        }

        .navbar__membership {
            border-top: 1px solid darken($navbar-bg, 5%);

            //> a {
                //@include transition(background-color .3s ease-in);
                //background-color: color(green);
                //color: #fff;

                // &:hover,
                // &:focus {
                //     background-color: color(green, dark);
                // }
            //}

            // .navbar__dd-mega {
            //     background-color: color(green, dark);

            //     a {
            //         &:hover,
            //         &:focus {
            //             background-color: darken(color(green, dark), 7%);
            //         }
            //     }
            // }

            .join {
                background-color: color(green, dark);
                border: 0;
                color: $navbar-color-inv;

                &:hover,
                &:focus {
                    background-color: darken(color(green, dark), 7%);
                }

                // &:after {
                //     font-family: FontAwesome;
                //     margin-left: 5px;
                //     content: $fa-var-arrow-circle-right;
                // }
            }
        }
    }

    @include mq($to: mobile) {
        padding-bottom: sz(41px);
        width: sz($navbar-width + 30);
        z-index: 1001;
    }

    @include mq($to: navbar) {
        .nav .navbar__membership {
            //> a {
            //    border: 0;
            //}

            .join {
                margin: sz(10px 40px 10px 10px);
            }
        }
    }

    @include mq($from: navbar) {
        .navbar__membership {
            float: right;
            margin-left: 0;
            margin-top: sz(10px);
        }
    }
}


.navbar__dd-mega {
    @include transition(max-height .35s ease);
    max-height: 0;
    overflow: hidden;

    > .l-container {
        @include transition(opacity .35s .1s ease);
        @include opacity(0);
    }

    @include mq($to: navbar) {
        > .l-container {
            width: 100%;
        }

        .nav {
            > li {
                > a {
                    font-size: sz(13px);
                    margin-left: sz(23px);
                    padding: sz(6px 25px 6px 7px);

                    &:hover,
                    &:focus {
                        background-color: darken($navbar-bg, 7%);
                    }
                }
            }
        }
    }

    @include mq($from: navbar) {
        background-color: $navbar-dd-bg;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 100;

        > .l-container {
            padding: $line-height-computed 0;
        }

        .nav {
            @include g-col($columns:4,$collapse:null);

            > li {
                > a:hover,
                > a:focus {
                    background-color: darken($navbar-dd-bg, 7%);
                }
            }
        }
    }
}


.navbar__secondary {
    display: table-footer-group;
    font-size: sz(13px);

    li {
        a {
            min-height: 28px;
            padding: sz(5px 10px);
        }

        // &:first-child + .social {
        //     clear: left;
        // }
    }

    .navbar__nav--social > li {
        float: left;
        font-size: sz(17px);
        width: sz($navbar-width / 4);

        a {
            border: 0;
            //color: #fff;

            //&:hover,
            //&:focus {
            //    border-color: color(grey, lighter);
            //}
        }

        .link-facebook {
            @extend %link-facebook;
        }
        .link-linkedin {
            @extend %link-linkedin;
        }
        .link-twitter {
            @extend %link-twitter;
        }
        .link-youtube {
            @extend %link-youtube;
        }
    }

    @include mq($from: mobile) {
        border-bottom: 1px solid $navbar-border;
        display: block;
        overflow: auto;

        .navbar__nav--social {
            display: none;
        }

        .navbar__nav--second-one,
        li {
            float: left;
        }

        .navbar__nav--social {
            float: right;

            li:first-child a {
                border-left: 1px solid $navbar-border;
            }
        }

        .nav > li {
            > a {
                border-right: 1px solid $navbar-border;
                color: $navbar-color;

                //&:hover,
                //&:focus {
                //    border-color: $navbar-bg;
                //    color: $navbar-color;
                //}
            }
        }
    }

    @include mq($from: navbar) {
        //li:first-child + .social {
        //    clear: none;
        //}

        .nav {
            > li {
                > a {
                    &:hover,
                    &:focus {
                        background-color: $navbar-bg-inv;
                        border-color: $navbar-bg-inv;
                        color: $navbar-color-inv;
                    }
                }
            }
        }

        > .navbar__nav--social {
            display: block;

            > li {
                width: 38px;
                a {
                    padding: sz(3px 9px);
                }
            }
        }
    }
}


.navbar__crumbs {
    @include cf;
    //border-top: 1px solid $navbar-border;
    //background-color: #444;
    clear: left;

    .crumbs {
        float: left;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    //.navbar__search {
    //    margin-top: -1px;
    //}

    @include mq($from: navbar) {
        margin-left: 113px;
    }
}


.basket {
    background-color: $navbar-bg-inv;
    color: $navbar-color-inv;
    float: right;
    font-size: sz(13px);
    padding: sz(6px 10px);

    &:hover,
    &:focus {
        background-color: darken($navbar-bg-inv, 7%);
        color: $navbar-color-inv;
        text-decoration: none;
    }

    &.is-empty {
        &,
        &:hover,
        &:focus {
            background-color: color(grey, lighter);
            color: color(grey);
        }
    }

    .fa {
        font-size: sz(15px);
    }

    // @include mq($from: mobile, $to: navbar) {
    //     border-left: 1px solid $navbar-border;
    // }

    // @include mq($from: mobile) {
    //     border-right: 1px solid $navbar-border;
    // }
}


@include mq($to: navbar) {
    // Navbar toggle
    //
    // Custom button for toggling the `.navbar-collapse`, powered by the collapse
    // JavaScript plugin.
    .navbar__toggle {
        border: 2px solid $navbar-toggle-border-color;
        clear: right;
        cursor: pointer;
        float: right;
        padding: sz(11px 11px 9px);
        position: relative;
        margin-top: sz(15px);
        font-size: 17px;
        text-align: center;
        background-color: #fff;
        z-index: 1001;

        // We remove the `outline` here, but later compensate by attaching `:hover`
        // styles to `:focus`.
        &:focus {
            outline: none;
        }

        &:hover,
        &:focus {
            background-color: $navbar-toggle-hover-bg;
            border-color: darken($navbar-toggle-hover-bg, 10%);
        }
      
        &:before {
            content: $fa-var-bars;
        }
    }

    .navbar__primary {
        display: table-header-group;
    }

    .navbar__dd.is-active > .navbar__dd-mega {
        //background-color: $navbar-bg;
        max-height: 2500px;
    
        > .l-container {
            @include opacity(1);
        }
    }

    // Push class applied to the body
    .navbar__push {
        @include transition(all .3s ease);
        @include backface-visibility(hidden);
        overflow-x: hidden;
        position: relative;
        left: 0;
    }

    .navbar__push--right {
        left: sz(-$navbar-width);
    }

    // .no-js {
    //     .navbar__toggle {
    //         @include transition(all .3s ease);
    //         position: relative;
    //         right: 0;
    //         z-index: 1001;
    //     }

    //     .navbar__nav > li > a:after {
    //         display: none;
    //     }
    // }

    //.flyout__inner--navbar {
    //    position: relative;
    //    z-index: 1001;
    //}

    .navbar__nav--social {
        display: table-footer-group;
    }
}


@include mq($to: mobile) {
    .navbar__check {
        &:checked {
            + .navbar__toggle {
                + .flyout--mobile {
                    right: 0;
                    z-index: 1001;
                }
            }
        }
    }

    .flyout--navbar {
        background-color: transparent;
        border-top: 0;
        position: static;
        right: auto;
        width: auto;
    }

    .navbar__nav--second-one {
        display: table-header-group;
        
        .nav {
            margin-bottom: sz(40px);
        }
    }
}


@include mq($from: mobile, $to: navbar) {
    .navbar__check {
        &:checked {
            + .navbar__toggle {
                + .navbar__flyout .flyout--navbar {
                    right: 0;
                    z-index: 1001;
                }
            }
        }
    }

    .flyout--navbar {
        //background-color: lighten($navbar-bg, 7%);
        border-top: 4px solid darken($navbar-bg, 7%);
        right: sz(-$navbar-width);
        width: sz($navbar-width);

        > .flyout__inner {
            padding-bottom: sz(40px);
        }
    }
}


// @include mq($from: mobile) {
//     .navbar__toggle {
//         clear: left;
//         margin: sz(-62px) 0 0;
//     }
// }


@include mq($from: navbar) {
    //.flyout--mobile,
    .flyout--navbar {
        background-color: transparent;
    }

    .flyout--mobile {
        //position: relative;
        padding-left: 113px;
        //z-index: 100;
    }

    .flyout--navbar {
        //border-top: 0;
        position: static;
        right: auto;
        width: auto;

        .flyout__inner {
            //margin-left: -1px;
            width: auto;
        }
    }

    .navbar__toggle {
        display: none;
    }
}
