// ====
// Navs
// ====


// Base class
// ----------

.nav {
  @include cf();
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; // Override default ul/ol

  > li {
    display: block;
    position: relative;

    > a {
      display: block;
      padding: $nav-link-padding;
      position: relative;
      &:hover,
      &:focus {
        background-color: $nav-link-hover-bg;
        text-decoration: none;
      }

      // Prevent IE8 from misplacing imgs
      // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
      > img {
        max-width: none;
      }
    }

    // &.is-active > a {
    //   color: $nav-disabled-link-color;

    //   &:hover,
    //   &:focus {
    //     color: $nav-disabled-link-hover-color;
    //     //text-decoration: none;
    //     //background-color: transparent;
    //   }
    // }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.is-disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $nav-disabled-link-hover-color;
        cursor: not-allowed;
        text-decoration: none;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;

      .caret {
        border-bottom-color: $link-hover-color;
        border-top-color: $link-hover-color;
      }
    }
  }
}
