/*=======*\
   #TABS
\*=======*/


/*
 * Tabs Content ul/ol
 */
.c-tabs_content {
  @include cf;
  //background-color: $tab-content-bg;
  //border: 1px solid $border-base;
  list-style: none;
  //margin-bottom: 0;
  //padding: $tab-content-padding;

  > li {
    display: none;

    p:last-child {
      margin-bottom: 0;
    }

    &.is-active {
      display: block;
    }
  }
}


/*
 * Tabs nav wrapper
 */
.nav--tabs {
  > li > a {
    border-bottom: 4px solid transparent;
    border-right: 0;

    &:hover,
    &:focus {
      border-bottom-color: $border-base;
      color: $tab-link-color;
    }
  }

  > .is-active > a {
    border-bottom-color: $tab-active-link-border;
    color: $tab-link-color;

    &:hover,
    &:focus {
      color: $tab-active-link-color;
    }
  }
}


//.tabs .toggle_chkbx {
//  &:checked + .toggle_btn + .toggle_target {
//    box-shadow: 0 0 10px rgba(0,0,0,.3);
//    transition: max-height 0s linear 0s, box-shadow 0s linear 0s, transform 0.6s cubic-bezier(.4,0,.2,1)0s;
//  }
//}


//.tabs_actions {
//  .btn {
//    border-radius: 0;
//    border-width: 0 1px;
//    //max-height: rem(35px);
//    padding-bottom: $nav-link-padding-vertical;
//    padding-top: ($nav-link-padding-vertical + rem(1px));
//  }
//}


.c-tabs-btn_left,
.c-tabs-btn_right {
  display: none;
}



@include mq($to: navbar) {
  .c-tabs_content {
    border-top: 0;
  }

  .nav--tabs {
    background-color: $tab-link-bg;
    //overflow: hidden;
    margin-right: 0;
    max-height: 34px;
    overflow: hidden;
    position: relative;
    transition: max-height .4s linear;
  }

  .c-tabs {
    position: relative;

    li {
      //display: block;
      position: static;

      &.is-active a {
        background-color: $tab-active-link-bg;
        position: relative;
        z-index: 1;
      }

      > a,
      .btn-group {
        border-right: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .toggle_chkbx:checked + .toggle_btn + .toggle_target {
      box-shadow: none;
      max-height: 500px;
      transition: max-height .4s linear;
        
      li > a,
      .btn-group {
        display: block;
        position: relative;
      }
    }

    .toggle_btn {
      padding: ($nav-link-padding-vertical + rem(1px)) $nav-link-padding-vertical;
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }

  .nav--tabs {
    left: 0 !important;
  }
}


@include mq($from: navbar) {
  .c-tabs {
    overflow: hidden;

    + .c-tabs_content {
      margin-top: -1px;
    }
  }

  .nav--tabs {
    min-height: rem(35px);

    > li > a,
    > .is-active > a {
      &:hover,
      &:focus {
        background-color: transparent;
        border-bottom-color: $tab-active-link-border;
        color: $tab-link-color;
      }
    }
  }

  .c-tabs_wrapper {
    margin: rem(0 34px);
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }

  .c-tabs,
  .c-tabs_wrapper > .nav--tabs {
    position: relative;
    //z-index: -1; /* hide it under navbar dd */
  }
  
  .c-tabs {
    li {
      display: inline-block;
    }
  }

  
  .c-tabs-btn_left,
  .c-tabs-btn_right {
    border: 0;
    border-radius: 0;
    display: block;
    padding: 7px 9px;
    position: absolute;
    z-index: 2;

    &[disabled] {
      box-shadow: none;
    }
  }

  .c-tabs-btn_left {
    //box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    left: 0;
  }

  .c-tabs-btn_right {
    //box-shadow: 0 1px 2px rgba(0,0,0,.1);
    right: 0;
  }



  /*
  * Vertical Tabs
  */
  .c-tabs--vertical {
    @include g-col($columns:3, $collapse:null);
    margin-right: -1px;
    overflow: visible;

    li {
      display: block;

      a {
        border-bottom: 0;
        border-right: 3px solid transparent;
      }
    }

    + .c-tabs_content {
      @include g-col($columns:9, $collapse:null);
      margin-top: 0;
    }
  }

  .c-tabs--vertical--right {
    float: right;
    margin-left: -1px;
    margin-right: 0;

    .nav--tabs {
      margin-left: -1px;
      margin-right: 0;
    }

    li {
      a {
        border-left: 3px solid transparent;
        border-right: 0;
      }

      &.is-active a {
        border-left-color: $tab-active-link-border;
        border-right: 0;
      }
    }
  }
}
