&lt;nav role=&quot;navigation&quot;&gt;
    &lt;ul class=&quot;nav&quot;&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Advice and information&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-disabled&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Ask Anna&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-active&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav role=&quot;navigation&quot;&gt;
    &lt;ul class=&quot;nav nav--inline&quot;&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Advice and information&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-disabled&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Ask Anna&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-active&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav role=&quot;navigation&quot;&gt;
    &lt;ul class=&quot;nav list--rows&quot;&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Advice and information&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-disabled&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Ask Anna&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-active&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav class=&quot;u-fr&quot; role=&quot;navigation&quot;&gt;
    &lt;ul class=&quot;nav nav--inline list--cols&quot;&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Advice and information&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-disabled&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Ask Anna&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-active&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav class=&quot;u-cr&quot; role=&quot;navigation&quot;&gt;
    &lt;ul class=&quot;nav nav--pills&quot;&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Advice and information&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-disabled&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Ask Anna&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-active&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav role=&quot;navigation&quot;&gt;
    &lt;ul class=&quot;nav nav--pills nav--inline&quot;&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Advice and information&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-disabled&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Ask Anna&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;is-active&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;