&lt;div class=&quot;grid-row&quot;&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;img alt=&quot;{{ img.landscape-4x3.src }}&quot; sizes=&quot;(min-width: 500px) 50vw, 100vw&quot; srcset=&quot;http://placeimg.com/1280/700/tech 1280w, http://placeimg.com/640/400/nature 640w, http://placeimg.com/320/200/people 320w,&quot; class=&quot;img-responsive {{ styleModifier }}&quot; /&gt;
  &lt;/div&gt;
&lt;/div&gt;