&lt;div class=&quot;flyout_wrapper&quot;&gt;
  {{&gt; atoms-toggle-menu:js-tog-flyout }}

  &lt;div class=&quot;flyout toggle_target&quot;&gt;
    &lt;div class=&quot;flyout_close&quot;&gt;
      &lt;h5 class=&quot;flyout_heading&quot;&gt;FLYOUT&lt;/h5&gt;
      &lt;label for=&quot;js-tog-flyout&quot; class=&quot;i i-times&quot;&gt;&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;basket&quot;&gt;
      &lt;table class=&quot;table&quot;&gt;
        &lt;colgroup&gt;
          &lt;col class=&quot;w-9&quot;&gt;&lt;/col&gt;
          &lt;col&gt;&lt;/col&gt;
          &lt;col&gt;&lt;/col&gt;
        &lt;/colgroup&gt;
        
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Item&lt;/th&gt;
            &lt;th&gt;Qty&lt;/th&gt;
            &lt;th&gt;Price&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        
        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;
              &lt;div class=&quot;media&quot;&gt;
                &lt;div class=&quot;media_fr&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn--xs i i-times&quot;&gt;&lt;/button&gt;
                &lt;/div&gt;
	              &lt;div class=&quot;media_body&quot;&gt;
                  &lt;h3 class=&quot;h5&quot; style=&quot;margin-bottom:0;&quot;&gt;Annual Convention 2015&lt;/h3&gt;
                  &lt;p style=&quot;margin-bottom:5px;&quot;&gt;Membership Stalls @ &#163;360 + VAT&lt;/p&gt;
		              &lt;p class=&quot;small&quot; style=&quot;margin-bottom:3px;&quot;&gt;Royal Albert Hall&lt;/p&gt;
                  &lt;p class=&quot;small&quot; style=&quot;margin:0;&quot;&gt;
                    &lt;i class=&quot;i i-calendar&quot;&gt;&lt;/i&gt;
                    &lt;time datetime=&quot;2015-10-06&quot;&gt;06/10/15&lt;/time&gt; &lt;time datetime=&quot;10:00&quot;&gt;10:00&lt;/time&gt; - &lt;time datetime=&quot;16:45&quot;&gt;16:45&lt;/time&gt;
                  &lt;/p&gt;
	              &lt;/div&gt;
              &lt;/div&gt;
            &lt;/td&gt;
            &lt;td class=&quot;qty&quot;&gt;&lt;input type=&quot;number&quot; step=&quot;1&quot; value=&quot;2&quot; /&gt;&lt;/td&gt;
            &lt;td&gt;&#163;720&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;
              &lt;div class=&quot;media&quot;&gt;
                &lt;div class=&quot;media_fr&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn--xs i i-times&quot;&gt;&lt;/button&gt;
                &lt;/div&gt;
	              &lt;div class=&quot;media_body&quot;&gt;
                  &lt;h3 class=&quot;h5&quot; style=&quot;margin-bottom:0;&quot;&gt;Annual Convention 2015&lt;/h3&gt;
                  &lt;p style=&quot;margin-bottom:5px;&quot;&gt;Membership Stalls @ &#163;360 + VAT&lt;/p&gt;
		              &lt;p class=&quot;small&quot; style=&quot;margin-bottom:3px;&quot;&gt;Royal Albert Hall&lt;/p&gt;
                  &lt;p class=&quot;small&quot; style=&quot;margin:0;&quot;&gt;
                    &lt;i class=&quot;i i-calendar&quot;&gt;&lt;/i&gt;
                    &lt;time datetime=&quot;2015-10-06&quot;&gt;06/10/15&lt;/time&gt; &lt;time datetime=&quot;10:00&quot;&gt;10:00&lt;/time&gt; - &lt;time datetime=&quot;16:45&quot;&gt;16:45&lt;/time&gt;
                  &lt;/p&gt;
	              &lt;/div&gt;
              &lt;/div&gt;
            &lt;/td&gt;
            &lt;td class=&quot;qty&quot;&gt;&lt;input type=&quot;number&quot; step=&quot;1&quot; value=&quot;1&quot; /&gt;&lt;/td&gt;
            &lt;td&gt;&#163;1000&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
        
        &lt;tfoot&gt;
          &lt;tr&gt;
            &lt;td colspan=&quot;2&quot;&gt;Sub Total:&lt;/td&gt;
            &lt;td&gt;&#163;1720&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td colspan=&quot;2&quot;&gt;VAT:&lt;/td&gt;
            &lt;td&gt;&#163;144&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td colspan=&quot;2&quot;&gt;Total:&lt;/td&gt;
            &lt;td&gt;&#163;1864&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tfoot&gt;
      &lt;/table&gt;
    &lt;/div&gt;
    &lt;div class=&quot;flyout_inner&quot;&gt;
      &lt;button type=&quot;button&quot; class=&quot;btn btn--primary btn--lg u-fr&quot;&gt;&lt;i class=&quot;i i-basket i--white&quot;&gt;&lt;/i&gt;View Basket &amp; Checkout&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;