<div class="table--responsive">
  <table class="table table--bordered table--striped table--form">
    <colgroup>
      <col class="w-1" />
      <col class="w-1" />
      <col class="w-2" />
      <col class="w-2" />
      <col class="w-2" />
      <col class="w-2" />
      <col class="w-1" />
      <col class="w-1" />
    </colgroup>
    <thead>
      <tr>
        <th>Person</th>
        <th>Title</th>
        <th>First name</th>
        <th>Surname</th>
        <th>Job title</th>
        <th>Company name</th>
        <th>Access Requirements</th>
        <th>Edit</th>
      </tr>
    </thead>
    <!--<tfoot>
      <tr>
        <td>Table Footer 1</td>
        <td>Table Footer 2</td>
        <td>Table Footer 3</td>
      </tr>
    </tfoot>-->
    <tbody>
      <tr>
        <td>Delegate</td>
        <td>
          <select id="" class="f-control" disabled>
            <option>Mrs</option>
            <option>Mr</option>
            <option>Miss</option>
          </select>
          <span id="js-title">Mrs</span>
        </td>
        <td>
          <input type="text" id="" class="f-control" readonly="true" value="Vikster" />
        </td>
        <td>
          <input type="text" id="" class="f-control" readonly="true" value="Bannon" />
        </td>
        <td>
          <input type="text" id="" class="f-control" readonly="true" value="Executive" />
        </td>
        <td>
          <input type="text" id="" class="f-control" readonly="true" value="IoD - Staff" />
        </td>
        <td>
          <select id="" class="f-control" disabled>
            <option>None</option>
            <option>Some</option>
            <option>Lots</option>
          </select>
          <span id="js-access">None</span>
        </td>
        <td>
          <button type="button" class="btn js-edit"><i class="fa fa-pencil"></i></button>
        </td>
      </tr>
      <tr>
        <td>Delegate</td>
        <td>
          <select id="" class="f-control" disabled="">
            <option>Mrs</option>
            <option>Mr</option>
            <option>Miss</option>
          </select>
          <span id="js-title">Mrs</span>
        </td>
        <td>
          <input type="text" id="" class="f-control" readonly="true" value="Vikster" />
        </td>
        <td>
          <input type="text" id="" class="f-control" readonly="true" value="Bannon" />
        </td>
        <td>
          <input type="text" id="" class="f-control" readonly="true" value="Executive" />
        </td>
        <td>
          <input type="text" id="" class="f-control" readonly="true" value="IoD - Staff" />
        </td>
        <td>
          <select id="" class="f-control" disabled="">
            <option>None</option>
            <option>Some</option>
            <option>Lots</option>
          </select>
          <span id="js-access">None</span>
        </td>
        <td>
          <button type="button" class="btn js-edit"><i class="fa fa-pencil"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
