&lt;img alt=&quot;{{ img.square.src }}&quot; sizes=&quot;(min-width: 500px) 50vw, 100vw&quot; srcset=&quot;http://placeimg.com/400/400/people 400w, http://placeimg.com/600/600/tech 600w&quot; class=&quot;img-responsive {{ styleModifier }}&quot; /&gt;