<form action="#" role="form">
  <fieldset class="fieldset">
    <legend class="legend">Inputs</legend>
    <div class="f-group">
      <label for="text">
        Text Input <abbr title="Required">*</abbr>
      </label>
      <input id="text" type="text" class="f-control" placeholder="Text Input" />
    </div>
    <div class="f-group">
      <label for="text">
        Disabled Text Input <abbr title="Required">*</abbr>
      </label>
      <input id="text" type="text" class="f-control" placeholder="Disabled Text Input" disabled="" />
    </div>
    <div class="f-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="f-control" placeholder="Type your Password" autocomplete="" />
    </div>
    <div class="f-group">
      <label for="webaddress">Web Address</label>
      <input id="webaddress" type="url" class="f-control" placeholder="http://yoursite.com" />
    </div>
    <div class="f-group">
      <label for="emailaddress">Email Address</label>
      <input id="emailaddress" type="email" class="f-control" placeholder="name@email.com" />
    </div>
    <div class="f-group">
      <label for="search">Search</label>
      <input id="search" type="search" class="f-control" placeholder="Enter Search Term" />
    </div>
    <div class="f-group">
      <label for="num">Number Input</label>
      <input id="num" type="number" class="f-control" placeholder="Enter a Number" pattern="[0-9]*" />
    </div>
    <div class="f-group">
      <label for="textarea">Textarea</label>
      <textarea id="textarea" class="f-control" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
    <div class="f-group">
      <label for="error" class="error">Error Input</label>
      <input id="error" class="f-control is-error" type="text" placeholder="Text Input" />
    </div>
    <div class="f-group">
      <label for="valid" class="valid">Valid Input</label>
      <input id="valid" class="f-control is-valid" type="text" placeholder="Text Input" />
    </div>
  </fieldset>
</form>