<fieldset class="f-group">
  <legend>Select</legend>
  <label for="select">Select</label>
  <select id="select" class="f-control">
      <optgroup label="Option Group">
          <option>Option One</option>
          <option>Option Two</option>
          <option>Option Three</option>
      </optgroup>
    <optgroup label="Option Group">
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
    </optgroup>
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
  </select>
</fieldset>

<fieldset class="f-group">
  <legend>Select Multiple</legend>
  <label for="select">Select</label>
  <select id="select" class="f-control" multiple>
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    <option>Option Four</option>
    <option>Option Five</option>
    <option>Option Six</option>
  </select>
</fieldset>