<form action="#" role="form">
  <fieldset class="f-group">
    <legend>Radio</legend>
    <label for="radio1" class="radio">
      <input id="radio1" name="radio" type="radio" checked /> Option 1
    </label>
    <label for="radio2" class="radio">
      <input id="radio2" name="radio" type="radio" /> Option 2
    </label>
    <label for="radio3" class="radio">
      <input id="radio3" name="radio" type="radio" /> Option 3
    </label>
  </fieldset>

  <fieldset class="f-group">
    <legend>Radio Inline</legend>
    <label for="radio4" class="radio-inline">
      <input id="radio4" name="radioInline" type="radio" checked /> Option 1
    </label>
    <label for="radio5" class="radio-inline">
      <input id="radio5" name="radioInline" type="radio" /> Option 2
    </label>
    <label for="radio6" class="radio-inline">
        <input id="radio6" name="radioInline" type="radio" /> Option 3
    </label>
  </fieldset>

  <fieldset class="f-group" disabled>
    <legend>Radio Disabled</legend>
    <label for="radio4" class="radio">
      <input id="radio4" name="radioDisabled" type="radio" /> Option 1
    </label>
    <label for="radio5" class="radio">
      <input id="radio5" name="radioDisabled" type="radio" /> Option 2
    </label>
    <label for="radio6" class="radio">
      <input id="radio6" name="radioDisabled" type="radio" /> Option 3
    </label>
  </fieldset>
</form>