<div class="{{ styleModifier }} has-icon">
	<label for="date" class="control-label">Date</label>
	<input id="date" type="date" class="f-control" placeholder="dd/mm/yyyy" />
	<span class="i i-calendar f-control_icon"></span>
</div>