{{# demo }}
  {{&gt; atoms-toggle-menu:js-tog-flyout }}
{{/ demo }}

&lt;div class=&quot;flyout toggle_target&quot;&gt;
    &lt;!--&lt;div class=&quot;flyout_close&quot;&gt;
            &lt;h5 class=&quot;flyout_heading&quot;&gt;FLYOUT&lt;/h5&gt;
            &lt;label for=&quot;js-tog-flyout&quot; class=&quot;i i-times&quot;&gt;&lt;/label&gt;
        &lt;/div&gt;--&gt;
    &lt;div class=&quot;flyout_inner&quot;&gt;
        &lt;div class=&quot;ecomBasket&quot;&gt;
            &lt;table class=&quot;table&quot;&gt;
                &lt;colgroup&gt;
                    &lt;col class=&quot;w-9&quot;&gt;&lt;/col&gt;
                    &lt;col&gt;&lt;/col&gt;
                    &lt;col&gt;&lt;/col&gt;
                &lt;/colgroup&gt;

                &lt;thead&gt;
                    &lt;tr&gt;
                        &lt;th&gt;Item&lt;/th&gt;
                        &lt;th class=&quot;qty&quot;&gt;Qty&lt;/th&gt;
                        &lt;th class=&quot;txt-center&quot;&gt;Price&lt;/th&gt;
                    &lt;/tr&gt;
                &lt;/thead&gt;

                &lt;tbody&gt;
                    &lt;tr&gt;
                        &lt;td&gt;
                            &lt;div class=&quot;media&quot;&gt;
                                &lt;div class=&quot;media_body&quot;&gt;
                                    &lt;h3 class=&quot;h5&quot; style=&quot;margin-bottom: 0;&quot;&gt;Annual Convention 2015&lt;/h3&gt;
                                    &lt;p class=&quot;small&quot; style=&quot;margin-bottom: 0;&quot;&gt;Membership Stalls @ &#163;360 + VAT&lt;/p&gt;
                                    &lt;p class=&quot;small&quot; style=&quot;margin-bottom: 0;&quot;&gt;Royal Albert Hall&lt;/p&gt;
                                    &lt;p class=&quot;small&quot; style=&quot;margin-bottom: 0;&quot;&gt;
                                        &lt;svg class=&quot;i&quot;&gt;
                                            &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#calendar&quot; /&gt;
                                        &lt;/svg&gt;
                                        6th
                                        &lt;div class=&quot;event-card_month&quot;&gt;Oct&lt;span&gt;ober&lt;/span&gt; 2015&lt;/div&gt;
                                    &lt;/p&gt;
                                    &lt;!--&lt;div class=&quot;event-card event-card--sm event-card--inline&quot;&gt;
                                            &lt;div class=&quot;event-card_days&quot;&gt;
                                                &lt;svg class=&quot;i&quot;&gt;
                                                    &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#calendar&quot; /&gt;
                                                &lt;/svg&gt;
                                                6th
                                            &lt;/div&gt;
                                            &lt;div class=&quot;event-card_month&quot;&gt;Oct&lt;span&gt;ober&lt;/span&gt; 2015&lt;/div&gt;
                                            &lt;div class=&quot;event-card_time&quot;&gt;
                                                &lt;span&gt;10:00&lt;/span&gt;&lt;span&gt; — 16:45&lt;/span&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;--&gt;
                                    &lt;!--&lt;time datetime=&quot;2015-10-06T10:00&quot;&gt;06/10/15 10:00&lt;/time&gt; - &lt;time datetime=&quot;16:45&quot;&gt;16:45&lt;/time&gt;--&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;media_right&quot;&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn--sm btn--i-only&quot;&gt;
                                        &lt;svg class=&quot;i&quot;&gt;
                                            &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#trash&quot; /&gt;
                                        &lt;/svg&gt;
                                    &lt;/button&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;qty&quot;&gt;2&lt;/td&gt;
                        &lt;td&gt;&#163;720&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td&gt;
                            &lt;div class=&quot;media&quot;&gt;
                                &lt;div class=&quot;media_body&quot;&gt;
                                    &lt;h3 class=&quot;h5&quot; style=&quot;margin-bottom: 0;&quot;&gt;Annual Convention 2015&lt;/h3&gt;
                                    &lt;p style=&quot;margin-bottom: 5px;&quot;&gt;Membership Stalls @ &#163;360 + VAT&lt;/p&gt;
                                    &lt;p class=&quot;small&quot; style=&quot;margin-bottom: 3px;&quot;&gt;
                                        &lt;svg class=&quot;i&quot;&gt;
                                            &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#location&quot; /&gt;
                                        &lt;/svg&gt; Royal Albert Hall
                                    &lt;/p&gt;
                                    &lt;p class=&quot;small&quot; style=&quot;margin: 0;&quot;&gt;
                                        &lt;svg class=&quot;i&quot;&gt;
                                            &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#calendar&quot; /&gt;
                                        &lt;/svg&gt;
                                        &lt;time datetime=&quot;2015-10-06T10:00&quot;&gt;06/10/15 10:00&lt;/time&gt; - &lt;time datetime=&quot;16:45&quot;&gt;16:45&lt;/time&gt;
                                    &lt;/p&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;media_right&quot;&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn--sm btn--i-only&quot;&gt;
                                        &lt;svg class=&quot;i&quot;&gt;
                                            &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#trash&quot; /&gt;
                                        &lt;/svg&gt;
                                    &lt;/button&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/td&gt;
                        &lt;td class=&quot;qty&quot;&gt;1&lt;/td&gt;
                        &lt;td&gt;&#163;1000&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;

                &lt;tfoot&gt;
                    &lt;tr&gt;
                        &lt;td colspan=&quot;2&quot;&gt;Sub Total:&lt;/td&gt;
                        &lt;td&gt;&#163;1720&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td colspan=&quot;2&quot;&gt;VAT:&lt;/td&gt;
                        &lt;td&gt;&#163;144&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;strong&quot;&gt;
                        &lt;td colspan=&quot;2&quot;&gt;Total:&lt;/td&gt;
                        &lt;td&gt;&#163;1864&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tfoot&gt;
            &lt;/table&gt;
        &lt;/div&gt;
        &lt;div class=&quot;has-icon has-icon--left has-icon--submit u-fr&quot;&gt;
            &lt;input type=&quot;submit&quot; class=&quot;btn btn--primary btn--lg&quot; value=&quot;View Basket &amp;amp; Checkout&quot; /&gt;
            &lt;span class=&quot;i i-basket i--white f-control_icon&quot;&gt;&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
