<form action="#" method="post" class="f-search" role="search">
  <label for="search-field" class="u-sr">Search</label>
  <div class="input-group">
    <input type="search" id="search-field" class="f-control" placeholder="Search" />
    <span class="input-group_btn">
      <button type="button" class="btn i i-search"></button>
    </span>
  </div>
</form>