<form action="#" role="form">
  <fieldset class="fieldset">
    <legend>Validation</legend>
    <div class="f-group has-success">
      <label class="control-label" for="inputSuccess1">Input with success</label>
      <input type="text" class="f-control" id="inputSuccess1" />
    </div>
    <div class="f-group has-warning">
      <label class="control-label" for="inputWarning1">Input with warning</label>
      <input type="text" class="f-control" id="inputWarning1" />
    </div>
    <div class="f-group has-error">
      <label class="control-label" for="inputError1">Input with error</label>
      <input type="text" class="f-control" id="inputError1" />
    </div>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Validation with icon</legend>
    <div class="f-group has-success has-icon--right">
      <label class="control-label" for="inputSuccess2">Input with success</label>
      <input type="text" class="f-control" id="inputSuccess2" />
      <span class="fa fa-check f-control-icon"></span>
    </div>
    <div class="f-group has-warning has-icon--right">
      <label class="control-label" for="inputWarning2">Input with warning</label>
      <input type="text" class="f-control" id="inputWarning2" />
      <span class="fa fa-exclamation-triangle f-control-icon"></span>
    </div>
    <div class="f-group has-error has-icon--right">
      <label class="control-label" for="inputError2">Input with error</label>
      <input type="text" class="f-control" id="inputError2" />
      <span class="fa fa-times f-control-icon"></span>
    </div>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Inputs with icon at end</legend>
    <div class="f-group has-icon--right">
      <label class="control-label" for="inputSuccess2">Input with success</label>
      <input type="text" class="f-control" id="inputSuccess2" />
      <span class="fa fa-check f-control-icon"></span>
    </div>
    <div class="f-group has-icon--right">
      <label class="control-label" for="inputWarning2">Input with warning</label>
      <input type="text" class="f-control" id="inputWarning2" />
      <span class="fa fa-exclamation-triangle f-control-icon"></span>
    </div>
    <div class="f-group has-icon--right">
      <label class="control-label" for="inputError2">Input with error</label>
      <input type="text" class="f-control" id="inputError2" />
      <span class="fa fa-times f-control-icon"></span>
    </div>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Inputs with icon at start</legend>
    <div class="f-group has-icon">
      <label class="control-label" for="inputSuccess2">Email</label>
      <input type="email" class="f-control" id="inputSuccess2" />
      <span class="fa fa-envelope f-control-icon txt-primary"></span>
    </div>
    <div class="f-group has-icon">
      <label class="control-label" for="inputWarning2">Username</label>
      <input type="text" class="f-control" id="inputWarning2" />
      <span class="fa fa-user f-control-icon txt-primary"></span>
    </div>
    <div class="f-group has-icon">
      <label class="control-label" for="inputError2">Password</label>
      <input type="password" class="f-control" id="inputError2" />
      <span class="fa fa-lock f-control-icon txt-primary"></span>
    </div>
  </fieldset>
</form>