<div class="input-group">
  <input id="find" type="text" class="f-control" placeholder="Find" />
  <span class="input-group_btn">
    <button type="button" class="btn btn--primary">
      <i class="fa fa-search"></i> Find
    </button>
  </span>
</div>

<div class="input-group">
  <span class="input-group_btn">
    <button type="button" class="btn btn--primary">
      <i class="fa fa-search"></i> Find
    </button>
  </span>
  <input id="find1" type="text" class="f-control" placeholder="Find" />
</div>