<form class="f-horizontal g-row" action="#" role="form">
    <fieldset class="fieldset w-6 wf-4">
        <legend class="legend">Address</legend>
        <div class="f-group">
            <label for="country" class="control-label">Country <abbr title="required">*</abbr></label>
            <div class="w-5">
                <select id="country" class="f-control w-3">
                    <option>Please Select...</option>
                    <optgroup label="United Kingdom">
                        <option>England</option>
                        <option>Jersey</option>
                        <option>Scotland</option>
                    </optgroup>
                    <optgroup label="Rest of World">
                        <option>Australia</option>
                        <option>New Zealand</option>
                        <option>USA</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="f-group">
            <label for="postcode" class="control-label">Postcode <abbr title="required">*</abbr></label>
            <div class="w-3">
                <input id="postcode" type="text" class="f-control" placeholder="Postcode" autocomplete />
            </div>
            <button type="button" class="btn u-fl"><i class="fa fa-search"></i> Find</button>
        </div>
        <div class="f-group">
            <label for="address" class="control-label">Select your Address</label>
            <div class="w-7">
                <select id="address" class="f-control w-3">
                    <option>1, The Street</option>
                    <option>2, The Street</option>
                    <option>3, The Street</option>
                </select>
            </div>
        </div>
        <div class="f-group">
            <label for="addressLine1" class="control-label">Address Line 1 <abbr title="required">*</abbr></label>
            <div class="w-7">
                <input id="addressLine1" type="text" class="f-control" placeholder="Address Line 1" autocomplete />
            </div>
        </div>
        <div class="f-group">
            <label for="addressLine2" class="control-label">Address Line 2</label>
            <div class="w-7">
                <input id="addressLine2" type="text" class="f-control" placeholder="Address Line 2" autocomplete />
            </div>
        </div>
        <div class="f-group">
            <label for="addressLine3" class="control-label">Address Line 3</label>
            <div class="w-7">
                <input id="addressLine3" type="text" class="f-control" placeholder="Address Line 3" autocomplete />
            </div>
        </div>
        <div class="f-group">
            <label for="town" class="control-label">Town/City <abbr title="required">*</abbr></label>
            <div class="w-7">
                <input id="town" type="text" class="f-control" placeholder="town or city" autocomplete />
            </div>
        </div>
        <div class="f-group">
            <label for="county" class="control-label">County/State</label>
            <div class="w-7">
                <input id="county" type="text" class="f-control" placeholder="county or state" autocomplete />
            </div>
        </div>
    </fieldset>
</form>