<form class="f-horizontal g-row" action="#" role="form">
    <fieldset class="fieldset w-6 wf-3">
        <legend class="legend">Date Range</legend>
        <div class="f-group">
            <label for="startDate" class="control-label">Date Range <abbr title="required">*</abbr></label>
            <div class="w-4">
                <input id="startDate" type="text" class="f-control" placeholder="Start Date" autocomplete />
            </div>
            <p class="f-control-static u-fl">to</p>
            <div class="w-4">
                <input id="endDate" type="text" class="f-control" placeholder="End Date" autocomplete />
            </div>
        </div>
    </fieldset>
</form>