<form action="#" role="form">
  <fieldset>
    <legend>Inputs</legend>
    <div class="f-group">
      <label for="text" class="control-label">Username</label>
      <input id="text" type="text" class="f-control" placeholder="Username" />
    </div>
    <div class="f-group">
      <label for="password" class="control-label">Password</label>
      <input id="password" type="password" class="f-control" placeholder="Type your Password" />
    </div>
    <div class="f-group">
      <label for="text2" class="control-label">Label</label>
      <p class="f-control-static">Lots and lots of text</p>
    </div>
  </fieldset>

  <fieldset class="f-group">
    <legend class="sr-only">Checkboxes</legend>
    <label for="password" class="control-label">Options</label>
    <label for="radio1" class="radio">
      <input id="radio1" name="radio" type="radio" checked /> Option 1
    </label>
    <label for="radio2" class="radio">
      <input id="radio2" name="radio2" type="radio" /> Option 2
    </label>
  </fieldset>
  
  <hr />
  
  <div class="f-group">
    <button type="submit" class="btn btn--primary">Login</button>
  </div>
</form>