<form class="f-horizontal" action="#" role="form">
  <fieldset class="wf-2">
    <legend>Inputs</legend>
    <div class="f-group">
      <label for="text" class="control-label">Username</label>
      <div class="w-5">
        <input id="text" type="text" class="f-control" placeholder="Text Input" />
      </div>
    </div>
    <div class="f-group">
      <label for="password" class="control-label">Password</label>
      <div class="w-5">
        <input id="password" type="password" class="f-control" placeholder="Type your Password" />
      </div>
    </div>
    <div class="f-group">
      <label for="text2" class="control-label">Text</label>
      <p class="f-control-static w-10">Lots and lots of text</p>
    </div>
  </fieldset>

  <fieldset class="f-group wf-2">
    <legend class="sr-only">Checkboxes</legend>
    <label for="password" class="control-label">Options</label>
    <div class="w-10">
      <label for="radio1" class="radio">
        <input id="radio1" name="radio" type="radio" checked /> Option 1
      </label>
      <label for="radio2" class="radio">
        <input id="radio2" name="radio" type="radio" /> Option 2
      </label>
    </div>
  </fieldset>
  
  <div class="f-group">
    <div class="w-3 w-offset-2">
      <button type="submit" class="btn btn--primary">Login</button>
    </div>
  </div>
</form>