<form class="f-horizontal" action="#" role="form">
  <fieldset class="fieldset wf-3">
    <legend class="legend">Date Range</legend>
    <div class="f-date-range f-group">
      <label for="startDate" class="control-label">Course Dates</label>
      <div class="w-4">
        <input id="startDate" type="date" class="f-control" placeholder="dd/mm/yyyy" />
      </div>
      <p class="f-control-static">to</p>
      <div class="w-4">
        <input id="endDate" type="text" class="f-control" placeholder="dd/mm/yyyy" />
      </div>
    </div>
  </fieldset>
</form>