<form class="f-inline" action="#" role="form">
  <fieldset>
    <legend>Inputs</legend>
    <div class="f-group">
      <label for="title" class="sr-only">Name</label>
      <select id="title" class="f-control">
        <option>Mr</option>
        <option>Mrs</option>
        <option>Ms</option>
      </select>
      <input id="text" type="text" class="f-control" placeholder="First" />
      <input id="password" type="password" class="f-control" placeholder="Last" />
      <button type="submit" class="btn btn--primary">Login</button>
    </div>
  </fieldset>
</form>