<div class="grid-row">
  <div class="w-6">
    <img alt="{{ img.landscape-4x3.src }}" sizes="(min-width: 500px) 50vw, 100vw" srcset="http://placeimg.com/1280/700/tech 1280w, http://placeimg.com/640/400/nature 640w, http://placeimg.com/320/200/people 320w," class="img-responsive {{ styleModifier }}" />
  </div>
</div>