<div class="docs-favicon">
  <img src="../../images/favicon.ico" height="16" width="16" />
  <img src="../../images/favicon.ico" height="24" width="24" />
  <img src="../../images/favicon.ico" height="32" width="32" />
  <img src="../../images/favicon.ico" height="64" width="64" />
</div>