<ul class="list-inline">
	<li>
    <svg class="fa fa-search">
      <use xlink:href="#fa-search"></use>
    </svg>
  </li>
	<li>
    <svg class="fa fa-check">
      <use xlink:href="#fa-check"></use>
    </svg>
  </li>
	<li>
    <svg class="fa fa-times">
      <use xlink:href="#fa-times"></use>
    </svg>
  </li>
	<li>
    <svg class="fa fa-lock">
      <use xlink:href="#fa-lock"></use>
    </svg>
  </li>
	<li>
    <svg class="fa fa-warning">
      <use xlink:href="#fa-warning"></use>
    </svg>
  </li>
  <li>
    <svg class="fa fa-navicon">
      <use xlink:href="#fa-navicon"></use>
    </svg>
  </li>
  <li>
    <svg class="fa fa-envelope">
      <use xlink:href="#fa-envelope"></use>
    </svg>
  </li>
  <li>
    <svg class="fa fa-spinner">
      <use xlink:href="#fa-spinner"></use>
    </svg>
  </li>
  <li>
    <svg class="fa fa-twitter">
      <use xlink:href="#fa-twitter"></use>
    </svg>
  </li>
  <li>
    <svg class="fa fa-facebook">
      <use xlink:href="#fa-facebook"></use>
    </svg>
  </li>
  <li>
    <svg class="fa fa-linkedin">
      <use xlink:href="#fa-linkedin"></use>
    </svg>
  </li>
  <li>
    <svg class="fa fa-youtube-play">
      <use xlink:href="#fa-youtube-play"></use>
    </svg>
  </li>
</ul>