<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="section-title">Our Outdoor Blog</h1>
		<div class="l-two-col">
			<div class="l-main">
        {{> atoms-time }}
        {{> atoms-lead-paragraph }}
        {{> atoms-paragraph }}
        {{> atoms-paragraph }}
        <h2>A Second Level Heading</h2>
        {{> atoms-paragraph }}
        {{> atoms-blockquote }}
        {{> atoms-paragraph }}
        {{> atoms-paragraph }}
        {{> atoms-blockquote }}
        {{> atoms-paragraph }}
        {{> atoms-paragraph }}
      </div><!--end l-main-->

			<div class="l-sidebar">
				{{> organisms-recent-tweets }}
			</div><!--end l-sidebar-->
		</div><!--end two-col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>