/*==========*\
   #BUTTONS
\*==========*/


/*
 * Base Styles
 */
// scss-lint:disable PropertyCount
.btn {
  @include button-variant($btn-bg, $btn-border, $btn-color);
  @include button-size($btn-padding-vertical, $btn-padding-horizontal, null, $border-radius-base, $font-size-base);
  background-image: none; /* Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214 */
  border-style: solid;
  border-width: 2px;
  //cursor: pointer;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: 1.3;
  //margin-bottom: 0; // For input.btn
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  //user-select: none;
  vertical-align: middle;
  //white-space: nowrap;

  &,
  &:active {
    &:focus {
      @include tab-focus;
    }
  }

  //&:hover,
  //&:focus {
  //  //background-color: darken($btn-bg, 6%);
  //  //color: $btn-color;
  //  //text-decoration: none;
  //}

  //&:active {
  //  background-color: darken($btn-bg, 10%);
  //  outline: 0;
  //}

  &.is-disabled,
  &[disabled] {
    @include opacity(.65);
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none; /* Future-proof disabling of clicks */
  }
}


/*
 * Alternative buttons
 */
.btn--neutral {
  background-color: #fff;
}


.btn--primary,
%btn--primary {
  @include button-variant($btn-primary-bg, $btn-primary-border, $btn-color-alt);

  //&.btn--outline {
  //  @include button-outline($btn-primary-bg);
  //}
}


/*
 * Button sizes
 */
.btn--xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, null, $border-radius-sm, $font-size-xs);
  //height: rem(18px);
}

.btn--sm {
  // line-height: ensure even height of button next to small input
  @include button-size($padding-sm-vertical, $padding-sm-horizontal, null, $border-radius-sm, $font-size-sm);
  //height: rem(21px);
}

.btn--lg,
%btn--lg {
  // line-height: ensure even height of button next to large input
  @include button-size($padding-lg-vertical, $padding-lg-horizontal, null, $border-radius-lg);
  //height: rem(35px);
}


/*
 * Ghost/Secondary action buttons
 */
.btn--outline {
  @include button-outline($btn-bg, $txt-color);
}


/*
 * Action button
 */
.btn--cta {
  @extend %btn--lg;
  //border-bottom-color: rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.07);
  font-size: $font-size-sm;
  line-height: 1.4;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
  }
}



/*
 * Link buttons
---------------------------------------------
 * Make a button look and behave like a link
 */
.btn--link {
  border-color: transparent;
  border-radius: 0;
  color: $link-color;
  cursor: pointer;
  font-weight: normal;
  //text-decoration: underline;

  &,
  &:active,
  &[disabled] {
    //@include box-shadow(none);
    background-color: transparent;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    color: $link-hover-color;
    //text-decoration: none;
  }

  &[disabled] {
    color: $txt-muted;
    text-decoration: none;

    //&:hover,
    //&:focus {
    //  //color: $btn-link-disabled-color;
    //  text-decoration: none;
    //}
  }
}
