/*=============*\
   #FORM ICONS
\*=============*/


/**
 * Loading Spinner icon
 */
//.loader {
//  @extend .fa-spinner;
//  @extend .fa-spin;
//  font-size: sz(16px);
//}


/**
 * Form control feedback states
---------------------------------------------------------------------
 * Apply contextual and semantic states to individual form controls.
 */
.has-icon,
.has-icon--right,
.is-required,
.is-required--right {
  /* Enable absolute positioning */
  position: relative;
}

.has-icon--submit {
  display: inline-block;
}

.is-required {
  /* Ensure required tag don't overlap text */
  .f-control {
    padding-left: $input-height-base - sz(10px);
  }
}
.is-required--right {
  .f-control {
    padding-right: $input-height-base - sz(10px);
  }
}

.has-icon {
  /* Ensure icons don't overlap text */
  .f-control,
  .btn {
    padding-left: $input-height-base + sz(4px);
  }
}
.has-icon--right {
  .f-control,
  .btn {
    padding-right: $input-height-base + sz(4px);
  }
}

.has-icon .f-control_icon,
.is-required .is-required_tag {
  left: 0;
}
.has-icon--right .f-control_icon,
.is-required--right .is-required_tag {
  right: 0;
}


/**
 * Feedback icon
 */
.has-icon .f-control_icon,
.has-icon--right .f-control_icon {
  display: block;
  height: $input-height-base;
  line-height: $input-height-base;
  position: absolute;
  text-align: center;
  top: 0;
  width: $input-height-base + sz(8px);
  z-index: 3; /* Ensure icon is above input groups and .is-required element */

  &:before {
    top: -1px;
  }
}
.has-icon--submit .i {
  pointer-events: none;

  &:hover {
    cursor: pointer;
  }
}

  .has-icon .control-label ~ .f-control_icon,
  .has-icon--right .control-label ~ .f-control_icon {
    top: ($line-height-computed + sz(1.5px)); /* Height of the `label` and its margin */
  }
  //.input-lg + .f-control_icon {
  //  height: $input-height-lg;
  //  line-height: $input-height-lg;
  //  width: $input-height-lg;
  //}
  //.input-sm + .f-control_icon {
  //  height: $input-height-sm;
  //  line-height: $input-height-sm;
  //  width: $input-height-sm;
  //}
  /**
 * Feedback states
 */
  .has-success {
    @include form-control-validation($state-success-txt, $state-success-txt, $state-success-bg);
  }
  //.has-warning {
  //  @include form-control-validation($state-warning-txt, $state-warning-txt, $state-warning-bg);
  //}
  .has-error {
    @include form-control-validation($state-danger-txt, $state-danger-txt, $state-danger-bg);
  }
  /**
 * Reposition feedback icon if input has visible label above
 */
  .has-icon label,
  .has-icon--right label,
  .is-required label,
  .is-required--right label {
    //& ~ .f-control-icon {
    //   top: ($line-height-computed + sz(4px)); /* Height of the `label` and its margin */
    //}
    &.u-sr + .f-control_icon {
      top: 0;
    }
  }
  /**
 * Colored input corners to mark required field
 */
  .is-required_tag {
    background-color: $input-bg-required;
    border-radius: 2px;
    color: $input-bg-required;
    height: sz(16px);
    position: absolute;
    top: ($line-height-computed + sz(1.5px)); /* Height of the `label` and its margin */
    width: sz(16px);
    z-index: 2; /* Ensure icon is above input groups but below icons */
    &:after {
      border-left: sz(16px) solid transparent;
      border-bottom: sz(16px) solid #fff;
      content: "";
      left: 0;
      position: absolute;
    }
  }
  //.is-required_tag {
  //  &:after {
  //    //border-left: sz(16px) solid transparent;
  //    left: 0;
  //  }
  //}
  .is-required--right > .is-required_tag {
    &:after {
      border-right: sz(16px) solid transparent;
      border-left: 0;
    }
  }

  input:focus {
    ~ .is-required_tag {
      //@include opacity(.4);
      background-color: lighten($input-bg-required, 25%);
    }
  }

  abbr.is-required_tag {
    border-bottom: 0;
    text-indent: -9999px;
  }
