// ===========
// Scaffolding
// ===========


// Reset the box-sizing
//
*,
*:before,
*:after {
  @include box-sizing(inherit);
}


// Images

// Responsive images (ensure images don't scale beyond their parents)
// .img-responsive {
//   @include img-responsive();
// }

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
// .img-thumbnail {
//   padding: $thumbnail-padding;
//   line-height: $line-height-base;
//   background-color: $thumbnail-bg;
//   border: 1px solid $thumbnail-border;
//   border-radius: $thumbnail-border-radius;
//   @include transition(all .2s ease-in-out);

//   // Keep them at most 100% wide
//   @include img-responsive(inline-block);
// }


// Creates css for social media links based on $colors map in vars.scss
//
@each $name in map-keys(map-get($colors, social)) {
  .link-#{$name},
  %link-#{$name} {
    background-color: map-fetch($colors, social $name);
    color: #fff;
    text-align: center;

    &:hover,
    &:focus {
      background-color: darken(map-fetch($colors, social $name), 7%);
    }
  }
}
