<ul class="sg-palette">
	<li>
		<span class="sg-color sg-brand-red-dark">RED-DARK</span>
	</li>
    <li>
        <span class="sg-color sg-brand-red">RED</span>
    </li>
    <li>
        <span class="sg-color sg-brand-red-light">RED-LIGHT</span>
    </li>
</ul>
<ul class="sg-palette">
    <li>
        <span class="sg-color sg-brand-purple-dark">PURPLE-DARK</span>
    </li>
    <li>
        <span class="sg-color sg-brand-purple">PURPLE</span>
    </li>
    <li>
        <span class="sg-color sg-brand-purple-light">PURPLE-LIGHT</span>
    </li>
</ul>
<ul class="sg-palette">
    <li>
        <span class="sg-color sg-brand-purple">PURPLE</span>
    </li>
    <li>
        <span class="sg-color sg-brand-green">GREEN</span>
    </li>
    <li>
        <span class="sg-color sg-brand-gold">GOLD</span>
    </li>
    <li>
        <span class="sg-color sg-brand-blue">BLUE</span>
    </li>
</ul>