<ul class="sg-palette">
  <li>
    <span class="sg-color sg-green-dark">GREEN-DARK</span>
  </li>
  <li>
    <span class="sg-color sg-green-base">GREEN</span>
  </li>
  <li>
    <span class="sg-color sg-green-light">GREEN-LIGHT</span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-gold-dark">GOLD-DARK</span>
  </li>                      
  <li>                       
    <span class="sg-color sg-gold-base">GOLD</span>
  </li>                      
  <li>                       
    <span class="sg-color sg-gold-light">GOLD-LIGHT</span>
  </li>
</ul>
<ul class="sg-palette">
	<li>
		<span class="sg-color sg-red-dark">RED-DARK</span>
	</li>
    <li>
        <span class="sg-color sg-red-base">RED</span>
    </li>
    <li>
        <span class="sg-color sg-red-light">RED-LIGHT</span>
    </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-blue-dark">BLUE-DARK</span>
  </li>
  <li>
    <span class="sg-color sg-blue-base">BLUE</span>
  </li>
  <li>
    <span class="sg-color sg-blue-light">BLUE-LIGHT</span>
  </li>
</ul>
<ul class="sg-palette">
    <li>
        <span class="sg-color sg-purple-dark">PURPLE-DARK</span>
    </li>
    <li>
        <span class="sg-color sg-purple-base">PURPLE</span>
    </li>
    <li>
        <span class="sg-color sg-purple-light">PURPLE-LIGHT</span>
    </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-social-facebook">FACEBOOK</span>
  </li>
  <li>
    <span class="sg-color sg-social-twitter">TWITTER</span>
  </li>
  <li>
    <span class="sg-color sg-social-linkedin">LINKEDIN</span>
  </li>
  <li>
    <span class="sg-color sg-social-youtube">YOUTUBE</span>
  </li>
</ul>