<ul class="sg-palette">
  <li>
    <span class="sg-color sg-grey-darkest"></span>
  </li>
  <li>
    <span class="sg-color sg-grey-darker"></span>
  </li>
  <li>
    <span class="sg-color sg-grey-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-grey-base"></span>
  </li>
  <li>
    <span class="sg-color sg-grey-light"></span>
  </li>
  <li>
    <span class="sg-color sg-grey-lighter"></span>
  </li>
  <li>
    <span class="sg-color sg-grey-lightest"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-black"></span>
  </li>
  <!--<li>
    <span class="sg-color sg-primary-dark"></span>
  </li>-->
  <li>
    <span class="sg-color sg-primary-base"></span>
  </li>
  <li>
    <span class="sg-color sg-primary-light"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-secondary-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-secondary-base"></span>
  </li>
  <li>
    <span class="sg-color sg-secondary-light"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-olive-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-olive-base"></span>
  </li>
  <li>
    <span class="sg-color sg-olive-light"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-green-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-green-base"></span>
  </li>
  <li>
    <span class="sg-color sg-green-light"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-claret-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-claret-base"></span>
  </li>
  <li>
    <span class="sg-color sg-claret-light"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-blue-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-blue-base"></span>
  </li>
  <li>
    <span class="sg-color sg-blue-light"></span>
  </li>
</ul>
<ul class="sg-palette">
    <li>
        <span class="sg-color sg-stone-dark"></span>
    </li>
    <li>
      <span class="sg-color sg-stone-base"></span>
    </li>
    <li>
      <span class="sg-color"></span>
    </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-steel-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-steel-base"></span>
  </li>
  <li>
    <span class="sg-color sg-steel-light"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-red-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-red-base"></span>
  </li>
  <li>
    <span class="sg-color sg-red-light"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-yellow-dark"></span>
  </li>
  <li>
    <span class="sg-color sg-yellow-base"></span>
  </li>
  <li>
    <span class="sg-color sg-yellow-light"></span>
  </li>
</ul>
<ul class="sg-palette">
  <li>
    <span class="sg-color sg-social-facebook"></span>
  </li>
  <li>
    <span class="sg-color sg-social-twitter"></span>
  </li>
  <li>
    <span class="sg-color sg-social-linkedin"></span>
  </li>
  <li>
    <span class="sg-color sg-social-youtube"></span>
  </li>
  <li>
    <span class="sg-color sg-social-googleplus"></span>
  </li>
</ul>
