<ul class="sg-palette chart-white">
  <li>
    <div class="sg-color sg-black">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-primary-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-secondary-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-olive-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-green-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
  <li>
    <div class="sg-color sg-claret-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-blue-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-stone-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-steel-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
  <li>
    <div class="sg-color sg-red-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-yellow-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
</ul>

<ul class="sg-palette chart-black">
  <li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-primary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-olive-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-green-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-claret-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-blue-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-stone-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-steel-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-red-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-yellow-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
</ul>

<ul class="sg-palette chart-primary">
  <li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-black"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-green-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-claret-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-blue-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-stone-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-steel-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-red-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-yellow-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
</ul>

<ul class="sg-palette chart-secondary">
  <li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
<!--<li>
    <div class="sg-color sg-black"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  <li>
    <div class="sg-color sg-primary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
<!--
  -->
<!--<li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
<!--
  -->
<!--<li>
    <div class="sg-color sg-green-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
<!--
  -->
<!--<li>
    <div class="sg-color sg-claret-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
<!--
  -->
<!--<li>
    <div class="sg-color sg-blue-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
<!--
  <li>
    <div class="sg-color sg-stone-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  <li>
    <div class="sg-color sg-steel-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  -->
<!--<li>
    <div class="sg-color sg-red-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
<!--
  <li>
    <div class="sg-color sg-yellow-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
</ul>

<ul class="sg-palette chart-olive">
  <!--<li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
  <li>
    <div class="sg-color sg-black">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-primary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-green-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-claret-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-blue-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-stone-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  <li>
    <div class="sg-color sg-steel-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-red-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-yellow-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
</ul>

<ul class="sg-palette chart-green">
  <!--<li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
  <li>
    <div class="sg-color sg-black">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-primary-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  <li>
    <div class="sg-color sg-claret-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-blue-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-stone-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-steel-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-red-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-yellow-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
</ul>

<ul class="sg-palette chart-claret">
  <li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-black"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-primary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-green-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-blue-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-stone-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-steel-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-red-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-yellow-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
</ul>

<ul class="sg-palette chart-blue">
  <!--<li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
  <li>
    <div class="sg-color sg-black">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-primary-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-green-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-claret-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-stone-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  <li>
    <div class="sg-color sg-steel-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-red-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-yellow-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
</ul>

<ul class="sg-palette chart-stone">
  <!--<li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
  <li>
    <div class="sg-color sg-black">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-primary-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-green-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-claret-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-blue-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-steel-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-red-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-yellow-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
</ul>

<ul class="sg-palette chart-steel">
  <!--<li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
  <li>
    <div class="sg-color sg-black">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-primary-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-green-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-claret-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-blue-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-stone-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-red-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-yellow-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
</ul>

<ul class="sg-palette chart-red">
  <li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-black"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-primary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  <li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-green-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-claret-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-blue-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-stone-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-steel-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-yellow-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
</ul>

<ul class="sg-palette chart-yellow">
  <!--<li>
    <div class="sg-color">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>-->
  <li>
    <div class="sg-color sg-black">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <li>
    <div class="sg-color sg-primary-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-secondary-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  <li>
    <div class="sg-color sg-olive-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-green-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-claret-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
  <!--<li>
    <div class="sg-color sg-blue-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <!--<li>
    <div class="sg-color sg-stone-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>
  <li>
    <div class="sg-color sg-steel-base"><h4>This is some text</h4><p>This is some text</p></div>
  </li>-->
  <li>
    <div class="sg-color sg-red-base">
      <h4>This is some text</h4>
      <p>This is some text</p>
    </div>
  </li>
</ul>
