<h1 class="docs-heading txt-default">Heading font:</h1>
<h1><b class="docs-heading txt-default">Heading font bold:</b></h1>

<p class="docs-body">Body font:</p>
<p><em class="docs-body">Body font italic:</em></p>
<p><strong class="docs-body">Body font bold:</strong></p>