<h1 class="docs-heading" style="font-weight: 400;">Heading font:</h1>
<h1 style="font-weight: 400;"><em class="docs-heading">Heading italic font:</em></h1>
<h1 class="docs-heading">Heading font bold:</h1>
<h1><em class="docs-heading">Heading font bold italic:</em></h1>

<p class="docs-body">Body font:</p>
<p><em class="docs-body">Body font italic:</em></p>
<p><strong class="docs-body">Body font bold:</strong></p>
<p><strong><em class="docs-body">Body font bold italic:</em></strong></p>