<ul class="list-inline">
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#menu"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#home"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#search"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#basket"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#calendar"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#triangle-left"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#triangle-right"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#triangle-up"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#triangle-down"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#twitter"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#facebook"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#linkedin"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#times"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#trash"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#location"></use>
    </svg>
  </li>
  <li>
    <svg class="i">
      <use xlink:href="../../images/icons/svg-defs.svg#time"></use>
    </svg>
  </li>
</ul>

<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#menu" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#home" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#search" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#basket" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#calendar" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-left" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-right" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-up" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-down" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#linkedin" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#twitter" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#facebook" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#times" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#trash" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#location" />
  </svg>Button
</button>
<button type="button" class="btn btn--xs">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#time" />
  </svg>Button
</button>

<br/><br/>

<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#menu" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#home" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#search" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#basket" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#calendar" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-left" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-right" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-up" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-down" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#linkedin" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#twitter" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#facebook" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#times" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#trash" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#location" />
  </svg>Button
</button>
<button type="button" class="btn btn--sm">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#time" />
  </svg>Button
</button>

<br/><br/>

<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#menu" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#home" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#search" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#basket" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#calendar" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-left" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-right" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-up" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-down" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#linkedin" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#twitter" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#facebook" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#times" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#trash" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#location" />
  </svg>Button
</button>
<button type="button" class="btn">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#time" />
  </svg>Button
</button>

<br/><br/>

<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#menu" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#home" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#search" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#basket" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#calendar" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-left" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-right" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-up" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#triangle-down" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#linkedin" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#twitter" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#facebook" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#times" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#trash" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#location" />
  </svg>Button
</button>
<button type="button" class="btn btn--lg">
  <svg class="i">
    <use xlink:href="../../images/icons/svg-defs.svg#time" />
  </svg>Button
</button>
