<ul class="list-inline">
	<li>
		<i class="i i-menu"></i>
	</li>
	<li>
		<i class="i i-home"></i>	
	</li>
	<li>
		<i class="i i-search"></i>
	</li>
	<li>
		<i class="i i-basket"></i>
	</li>
	<li>
		<i class="i i-calendar"></i>
	</li>
	<li>
		<i class="i i-triangle-up"></i>
	</li>
	<li>
		<i class="i i-triangle-down"></i>
	</li>
	<li>
		<i class="i i-twitter"></i>
	</li>
	<li>
		<i class="i i-facebook"></i>
	</li>
	<li>
		<i class="i i-linkedin"></i>
	</li>
</ul>