<div class="media media--content">
  <div class="media_fl">
    {{> atoms-square }}
  </div>
  <div class="media_body">
    <h2 class="media_heading">{{ headline.medium }}</h2>
    <p class="lead">{{ excerpt.short }}</p>
    <p>{{ excerpt.long }}</p>
    <a href="#" class="btn btn--primary u-fr">Read more</a>
  </div>
</div>