<div class="media media--content">
  <div class="media_fr">
    {{> atoms-square }}
  </div>
	<div class="media_body">
    <h3 class="media_heading">{{ headline.short }}</h3>
		<p>{{ excerpt.medium }}</p>
	</div>
</div>