<div class="media">
  <a href="{{ url }}" class="u-fr">
    <div class="media_object">
      {{> atoms-square }}
    </div>
  </a>
	<div class="media_body">
    <h2 class="media_heading">{{ headline.short }}</h2>
		<p>{{ excerpt.medium }}</p>
	</div>
</div>