<div class="media media--content">
  <a href="{{ url }}">
    <div class="media_fr">
      {{> atoms-square:media_element }}
    </div>
    <h3 class="media_heading">{{ headline.short }}</h3>
  </a>
  <div class="media_body">
    <p>{{ excerpt.medium }}</p>
    <a href="#" class="btn btn--primary u-fr">Read more</a>
  </div>
</div>