&lt;div class=&quot;toolbar f-group&quot;&gt;
	&lt;div class=&quot;toolbar_item&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn--outline&quot;&gt;Back&lt;/button&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn&quot;&gt;Share&lt;/button&gt;
	&lt;/div&gt;
  &lt;div class=&quot;toolbar_item toolbar_item--right&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn--primary&quot;&gt;Save&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;toolbar_item toolbar_item--center&quot;&gt;
    {{&gt; molecules-search }}
  &lt;/div&gt;
&lt;/div&gt;