&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#triangle-left&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;!--&lt;button type=&quot;button&quot; class=&quot;btn i i-search&quot; disabled=&quot;&quot;&gt;Button Disabled&lt;/button&gt;--&gt;

  &lt;button type=&quot;button&quot; class=&quot;btn&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button
  &lt;/button&gt;

  &lt;button type=&quot;button&quot; class=&quot;btn btn--primary&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;primary Button&lt;/button&gt;
  &lt;!--&lt;button type=&quot;button&quot; class=&quot;btn btn--primary i i-search i--white&quot; disabled&gt;primary Button Disabled&lt;/button&gt;--&gt;

  &lt;button type=&quot;button&quot; class=&quot;btn btn--link&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Link Button&lt;/button&gt;
  &lt;!--&lt;button type=&quot;button&quot; class=&quot;btn btn--link i i-search&quot; disabled&gt;Link Button Disabled&lt;/button&gt;--&gt;

  &lt;button type=&quot;button&quot; class=&quot;btn btn--outline&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Outline Button&lt;/button&gt;
  &lt;!--&lt;button type=&quot;button&quot; class=&quot;btn btn--outline i i-search&quot; disabled&gt;Outline Button Disabled&lt;/button&gt;--&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--xs&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--sm&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--lg&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--cta&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--xs btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--sm btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--lg btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--cta btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;Button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--xs btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--sm btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--lg btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--cta btn--i-only&quot;&gt;
    &lt;svg class=&quot;i&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;div class=&quot;has-icon has-icon--left has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn btn--xs&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#triangle-left&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;div class=&quot;has-icon has-icon--left has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn btn--sm&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#triangle-left&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;div class=&quot;has-icon has-icon--left has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#triangle-left&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;div class=&quot;has-icon has-icon--left has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn btn--lg&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#triangle-left&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;div class=&quot;has-icon has-icon--left has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn btn--cta&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#triangle-left&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
&lt;/p&gt;
  &lt;div class=&quot;has-icon has-icon--right has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn btn--xs&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;div class=&quot;has-icon has-icon--right has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn btn--sm&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;div class=&quot;has-icon has-icon--right has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;div class=&quot;has-icon has-icon--right has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn btn--lg&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#search&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;div class=&quot;has-icon has-icon--right has-icon--submit&quot;&gt;
    &lt;input type=&quot;submit&quot; class=&quot;btn btn--cta&quot; /&gt;
    &lt;svg class=&quot;i f-control_icon&quot;&gt;
      &lt;use xlink:href=&quot;/../images/icons/svg-defs.svg#triangle-right&quot; /&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
&lt;/p&gt;
