&lt;div class=&quot;event-date&quot;&gt;
  &lt;i class=&quot;i event-date_cal&quot;&gt;&lt;/i&gt;
  &lt;div class=&quot;event-date_days&quot;&gt;20&lt;span&gt; — 21&lt;/span&gt;&lt;/div&gt;
  &lt;div class=&quot;event-date_month&quot;&gt;
    Sept&lt;span&gt;ember&lt;/span&gt; 2014
  &lt;/div&gt;
  &lt;div class=&quot;event-date_time&quot;&gt;
    &lt;i class=&quot;i i-calendar&quot;&gt;&lt;/i&gt;
    &lt;span&gt;10:00&lt;/span&gt;&lt;span&gt; — 22:00&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;event-date event-date--sm&quot;&gt;
  &lt;div class=&quot;event-date_days&quot;&gt;20&lt;span&gt; — 21&lt;/span&gt;&lt;/div&gt;
  &lt;div class=&quot;event-date_month&quot;&gt;
    Nov&lt;span&gt;ember&lt;/span&gt; 2014
  &lt;/div&gt;
  &lt;div class=&quot;event-date_time&quot;&gt;
    &lt;i class=&quot;i i-calendar&quot;&gt;&lt;/i&gt;
    &lt;span&gt;10:00&lt;/span&gt;&lt;span&gt; — 22:00&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;event-date event-date--inline&quot;&gt;
  &lt;div class=&quot;event-date_days&quot;&gt;20&lt;span&gt; — 21&lt;/span&gt;&lt;/div&gt;
  &lt;div class=&quot;event-date_month&quot;&gt;
    Jan&lt;span&gt;uary&lt;/span&gt; 2014
  &lt;/div&gt;
  &lt;div class=&quot;event-date_time&quot;&gt;
    &lt;i class=&quot;i i-calendar&quot;&gt;&lt;/i&gt;
    &lt;span&gt;10:00&lt;/span&gt;&lt;span&gt; — 22:00&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;event-date event-date--sm event-date--inline&quot;&gt;
  &lt;div class=&quot;event-date_days&quot;&gt;20&lt;span&gt; — 21&lt;/span&gt;&lt;/div&gt;
  &lt;div class=&quot;event-date_month&quot;&gt;
    Feb&lt;span&gt;ruary&lt;/span&gt; 2014
  &lt;/div&gt;
  &lt;div class=&quot;event-date_time&quot;&gt;
    &lt;i class=&quot;i i-calendar&quot;&gt;&lt;/i&gt;
    &lt;span&gt;10:00&lt;/span&gt;&lt;span&gt; — 22:00&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;event-date event-date--single&quot;&gt;
  &lt;div class=&quot;event-date_days&quot;&gt;20&lt;/div&gt;
  &lt;div class=&quot;event-date_month&quot;&gt;
    Sept&lt;span&gt;ember&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;