&lt;h1&gt;Heading Level 1 &lt;small&gt;small heading&lt;/small&gt;&lt;/h1&gt;
&lt;h2&gt;Heading Level 2 &lt;small&gt;small heading&lt;/small&gt;&lt;/h2&gt;
&lt;h3&gt;Heading Level 3 &lt;small&gt;small heading&lt;/small&gt;&lt;/h3&gt;
&lt;h4&gt;Heading Level 4 &lt;small&gt;small heading&lt;/small&gt;&lt;/h4&gt;
&lt;h5&gt;Heading Level 5 &lt;small&gt;small heading&lt;/small&gt;&lt;/h5&gt;
&lt;h6&gt;Heading Level 6 &lt;small&gt;small heading&lt;/small&gt;&lt;/h6&gt;

&lt;h6 class=&quot;h1&quot;&gt;Heading Level 6 &lt;small&gt;with &lt;code&gt;.h1&lt;/code&gt; small heading&lt;/small&gt;&lt;/h6&gt;
&lt;h5 class=&quot;h2&quot;&gt;Heading Level 5 &lt;small&gt;with &lt;code&gt;.h2&lt;/code&gt; small heading&lt;/small&gt;&lt;/h5&gt;
&lt;h4 class=&quot;h3&quot;&gt;Heading Level 4 &lt;small&gt;with &lt;code&gt;.h3&lt;/code&gt; small heading&lt;/small&gt;&lt;/h4&gt;
&lt;h3 class=&quot;h4&quot;&gt;Heading Level 3 &lt;small&gt;with &lt;code&gt;.h4&lt;/code&gt; small heading&lt;/small&gt;&lt;/h3&gt;
&lt;h2 class=&quot;h5&quot;&gt;Heading Level 2 &lt;small&gt;with &lt;code&gt;.h5&lt;/code&gt; small heading&lt;/small&gt;&lt;/h2&gt;
&lt;h1 class=&quot;h6&quot;&gt;Heading Level 1 &lt;small&gt;with &lt;code&gt;.h6&lt;/code&gt; small heading&lt;/small&gt;&lt;/h1&gt;