<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. <a href="http://www.facebook.com">A paragraph consists of one or more sentences.</a> Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. <a href="http://www.linkedin.com">A paragraph consists of one or more sentences.</a> Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
</p>
<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. <a href="http://www.twitter.com">A paragraph consists of one or more sentences.</a> Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
</p>
<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. <a href="http://www.youtube.com">A paragraph consists of one or more sentences.</a> Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
</p>