&lt;p&gt;A paragraph (from the Greek paragraphos, &quot;to write beside&quot; or &quot;written beside&quot;) is a self-contained unit of a discourse in writing dealing with a particular point or idea. &lt;a href=&quot;http://www.facebook.com&quot;&gt;A paragraph consists of one or more sentences.&lt;/a&gt; Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.&lt;/p&gt;
&lt;p&gt;
  A paragraph (from the Greek paragraphos, &quot;to write beside&quot; or &quot;written beside&quot;) is a self-contained unit of a discourse in writing dealing with a particular point or idea. &lt;a href=&quot;http://www.linkedin.com&quot;&gt;A paragraph consists of one or more sentences.&lt;/a&gt; Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
&lt;/p&gt;
&lt;p&gt;
  A paragraph (from the Greek paragraphos, &quot;to write beside&quot; or &quot;written beside&quot;) is a self-contained unit of a discourse in writing dealing with a particular point or idea. &lt;a href=&quot;http://www.twitter.com&quot;&gt;A paragraph consists of one or more sentences.&lt;/a&gt; Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
&lt;/p&gt;
&lt;p&gt;
  A paragraph (from the Greek paragraphos, &quot;to write beside&quot; or &quot;written beside&quot;) is a self-contained unit of a discourse in writing dealing with a particular point or idea. &lt;a href=&quot;http://www.youtube.com&quot;&gt;A paragraph consists of one or more sentences.&lt;/a&gt; Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
&lt;/p&gt;