&lt;div class=&quot;docs-favicon&quot;&gt;
  &lt;img src=&quot;../../images/content/favicon.ico&quot; height=&quot;16&quot; width=&quot;16&quot; /&gt;
  &lt;img src=&quot;../../images/content/favicon.ico&quot; height=&quot;24&quot; width=&quot;24&quot; /&gt;
  &lt;img src=&quot;../../images/content/favicon.ico&quot; height=&quot;32&quot; width=&quot;32&quot; /&gt;
  &lt;img src=&quot;../../images/content/favicon.ico&quot; height=&quot;64&quot; width=&quot;64&quot; /&gt;
&lt;/div&gt;