.i--white:before {
	@include opacity(1);
  @include nope(svg) {
      background-image: url("../../../images/sprites/sprite-white-sm.png");
  }
	@include yep(svg) {
		background-image: url("../../../images/sprites/sprite-white.svg");
		//background-size: cover;
	}
}


.btn.i:before,
.btn > .i {
  //left: sz(-4px);
  margin-right: sz(5px);
}


/**
 * Icon only button
 */
.btn:empty.i,
.btn.i--only {
  //color: transparent;
  font-size: 0;
  overflow: hidden;
  padding: 4px;
  width: 27px;
}
.btn:empty.i,
.btn.i--only,
.btn.i--only > .i {
  &:before {
    margin-right: 0;
    top: 0;
  }
}


/**
 * .btn--xs & .btn--sm icon
 */
.svg .btn--xs:empty.i,
.svg .btn--xs.i--only {
  padding: 0;
  width: 18px;
}

.svg .btn--sm:empty.i,
.svg .btn--sm.i--only {
  padding: 0 2px;
  width: 21px;
}

.svg .btn--xs.i,
.svg .btn--sm.i,
.svg .btn--xs > .i,
.svg .btn--sm > .i {
  &:before {
    height: 13px;
    width: 13px;
  }
}


/**
 * .btn--lg icon only
 */
.svg .btn--lg:empty.i,
.svg .btn--cta:empty.i,
.svg .btn--lg.i--only,
.svg .btn--cta.i--only {
  padding: 0 8px;
  width: 35px;
}


/**
 * Icon overrides
 */
//.i-home:before {
//  background-position-y: 1px;
//}

.i-search:before {
  top: sz(-1px);
}
