        <div class="flyout__overlay"></div>
    </div>

    <script src="../../js/jquery.min.js"></script>

    <script src="../../js/bootstrap/transition.js"></script>
    <script src="../../js/bootstrap/collapse.js"></script>
    <!-- <script src="../../js/jquery-accessibleMegaMenu.js"></script> -->
    <script src="../../js/main.js"></script>

    <!-- initialize a selector as an accessibleMegaMenu -->
    <!-- <script>
        $('#navbar-nav').accessibleMegaMenu();
    </script> -->
    <script>
        new UISearch(document.getElementById('js-navbarSearch'));
    </script>
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
</html>