&lt;input type=&quot;checkbox&quot; id=&quot;{{ styleModifier }}&quot; class=&quot;toggle_chkbx&quot; aria-pressed=&quot;false&quot; /&gt;
&lt;label for=&quot;{{ styleModifier }}&quot; id=&quot;leftPush&quot; class=&quot;basket toggle_btn i i-basket i--white&quot; role=&quot;button&quot;&gt;
  &lt;span class=&quot;toggle_txt&quot;&gt;Basket&lt;/span&gt;
  &lt;small&gt;(1)&lt;/small&gt;
&lt;/label&gt;