&lt;fieldset class=&quot;f-group&quot;&gt;
  &lt;legend&gt;Select&lt;/legend&gt;
  &lt;label for=&quot;select&quot;&gt;Select&lt;/label&gt;
  &lt;select id=&quot;select&quot; class=&quot;f-control&quot;&gt;
      &lt;optgroup label=&quot;Option Group&quot;&gt;
          &lt;option&gt;Option One&lt;/option&gt;
          &lt;option&gt;Option Two&lt;/option&gt;
          &lt;option&gt;Option Three&lt;/option&gt;
      &lt;/optgroup&gt;
    &lt;optgroup label=&quot;Option Group&quot;&gt;
      &lt;option&gt;Option One&lt;/option&gt;
      &lt;option&gt;Option Two&lt;/option&gt;
      &lt;option&gt;Option Three&lt;/option&gt;
    &lt;/optgroup&gt;
    &lt;option&gt;Option One&lt;/option&gt;
    &lt;option&gt;Option Two&lt;/option&gt;
    &lt;option&gt;Option Three&lt;/option&gt;
  &lt;/select&gt;
&lt;/fieldset&gt;

&lt;fieldset class=&quot;f-group&quot;&gt;
  &lt;legend&gt;Select Multiple&lt;/legend&gt;
  &lt;label for=&quot;select&quot;&gt;Select&lt;/label&gt;
  &lt;select id=&quot;select&quot; class=&quot;f-control&quot; multiple&gt;
    &lt;option&gt;Option One&lt;/option&gt;
    &lt;option&gt;Option Two&lt;/option&gt;
    &lt;option&gt;Option Three&lt;/option&gt;
    &lt;option&gt;Option Four&lt;/option&gt;
    &lt;option&gt;Option Five&lt;/option&gt;
    &lt;option&gt;Option Six&lt;/option&gt;
  &lt;/select&gt;
&lt;/fieldset&gt;