/*=======================*\
   #TEXT UTILITY CLASSES
\*=======================*/


/**
 * Alignment
 */
.txt-left     { text-align: left !important; }
.txt-right    { text-align: right !important; }
.txt-center   { text-align: center !important; }
.txt-justify  { text-align: justify !important; }
.txt-nowrap   { white-space: nowrap !important; }



/**
 * Transformation
 */
.txt-lower  { text-transform: lowercase !important; }
.txt-upper  { text-transform: uppercase !important; }
.txt-caps,
.txt-iod { text-transform: capitalize !important; }



/**
 * Contextual colors
 */
@include txt-emphasis-variant('.txt-default', $txt-color);
@include txt-emphasis-variant('.txt-muted', $txt-muted);
@include txt-emphasis-variant('.txt-primary', $brand-primary);
//@include txt-emphasis-variant('.txt-info', $state-info-txt);
//@include txt-emphasis-variant('.txt-warning', $state-warning-txt);
//@include txt-emphasis-variant('.txt-danger', $state-danger-txt);
