//
// Utility classes
// --------------------------------------------------

// Floats
// -------------------------

.u-fr {
  float: right !important;
}
.u-fl {
  float: left !important;
}
.u-fn {
  float: none !important;
}


// Clears
// -------------------------

.u-cf {
  @include cf();
}
//.u-cr {
//  clear: right !important;
//}
//.u-cl {
//  clear: left !important;
//}
//.u-cn {
//  clear: none !important;
//}
//.u-cb {
//  clear: both !important;
//}

//.u-center-block {
//  @include center-block();
//}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.u-hide {
  display: none !important;
}
.u-show {
  display: block !important;
}
.u-invisible {
  visibility: hidden;
}
.txt-hide {
  @include txt-hide();
}

// Hide from screenreaders and browsers. Credit: HTML5 Boilerplate

.u-hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

//.u-affix {
//  position: fixed;
//}
