<div class="u-relative">
  {{> atoms-landscape }}
  <div class="page-header page-header--dark">
    <h6 class="page-header_meta">Institute of Directors</h6>
    <h2 class="page-header_title">
      <a href="#">{{ headline.medium }}</a>
    </h2>
    <p class="lead">{{ excerpt.short }}</p>
    <button type="button" class="btn btn--sm">Read more &rarr;</button>
  </div>
</div>

<hr/>

<div class="u-relative">
  {{> atoms-landscape }}
  <div class="page-header page-header--inline page-header--dark u-top">
    <h6 class="page-header_meta">Institute of Directors</h6>
    <h2 class="page-header_title">
      <a href="#">{{ headline.medium }}</a>
    </h2>
  </div>
</div>

<hr/>

<div class="u-relative">
  {{> atoms-landscape }}
  <div class="page-header u-top">
    <h6 class="page-header_meta">Institute of Directors</h6>
    <h2 class="page-header_title">
      <a href="#">{{ headline.medium }}</a>
    </h2>
    <p class="lead">{{ excerpt.short }}</p>
  </div>
</div>

<hr/>

<div class="u-relative">
  {{> atoms-landscape }}
  <div class="page-header page-header--inline">
    <h6 class="page-header_meta">Institute of Directors</h6>
    <h2 class="page-header_title">
      <a href="#">{{ headline.medium }}</a>
    </h2>
    <p class="lead">{{ excerpt.short }}</p>
  </div>
</div>

<hr/>

<div class="grid-row">
  {{> atoms-landscape:w-12 }}
  <div class="w-4 u-relative">
    <div class="page-header">
      <p class="page-header_meta">Institute of Directors</p>
      <h2 class="page-header_title">
        <a href="#">{{ headline.medium }}</a>
      </h2>
      <p class="h4 lead">{{ excerpt.short }}</p>
    </div>
  </div>
</div>

<hr/>

<div class="grid-row">
  {{> atoms-landscape:w-12 }}
  <div class="w-4 u-relative">
    <div class="page-header page-header--dark">
      <p class="page-header_meta">Institute of Directors</p>
      <h3 class="page-header_title">
        <a href="#">{{ headline.medium }}</a>
      </h3>
      <p class="h4 lead">{{ excerpt.short }}</p>
    </div>
  </div>
</div>

<!--<hr/>

<div class="page-header_container">
  {{> atoms-landscape }}
  <div class="page-header page-header--dark">
    <h6 class="page-header_meta">Institute of Directors</h6>
    <h2 class="page-header_title">
      <a href="#">{{ headline.medium }}</a>
    </h2>
    <p class="lead">{{ excerpt.short }}</p>
    <button type="button" class="btn">Read more &rarr;</button>
  </div>
</div>-->