&lt;ul class=&quot;sg-palette chart-white&quot;&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-black&quot;&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-primary&quot;&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-secondary&quot;&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;!--
  --&gt;
&lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;!--
  --&gt;
&lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;!--
  --&gt;
&lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;!--
  --&gt;
&lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;!--
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  --&gt;
&lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;!--
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-olive&quot;&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-green&quot;&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-claret&quot;&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-blue&quot;&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-stone&quot;&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-steel&quot;&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-red&quot;&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-yellow-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-palette chart-yellow&quot;&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-black&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-primary-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-secondary-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-olive-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-green-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-claret-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-blue-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;!--&lt;li&gt;
    &lt;div class=&quot;sg-color sg-stone-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-steel-base&quot;&gt;&lt;h4&gt;This is some text&lt;/h4&gt;&lt;p&gt;This is some text&lt;/p&gt;&lt;/div&gt;
  &lt;/li&gt;--&gt;
  &lt;li&gt;
    &lt;div class=&quot;sg-color sg-red-base&quot;&gt;
      &lt;h4&gt;This is some text&lt;/h4&gt;
      &lt;p&gt;This is some text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;
