&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--primary&quot;&gt;primary Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--primary&quot; disabled&gt;primary Button Disabled&lt;/button&gt;
&lt;/p&gt;

&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--link&quot;&gt;Link Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--link&quot; disabled&gt;Link Button Disabled&lt;/button&gt;
&lt;/p&gt;

&lt;p&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn--outline&quot;&gt;Outline Button&lt;/button&gt;
	&lt;button type=&quot;button&quot; class=&quot;btn btn--outline&quot; disabled&gt;Outline Button Disabled&lt;/button&gt;
&lt;/p&gt;

&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--cta&quot;&gt;CTA Button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn--cta&quot; disabled&gt;CTA Button Disabled&lt;/button&gt;
&lt;/p&gt;