<div class="toolbar f-group">
	<div class="toolbar_item">
    <button type="button" class="btn btn--outline">Back</button>
    <button type="button" class="btn">Share</button>
	</div>
  <div class="toolbar_item toolbar_item--right">
    <button type="button" class="btn btn--primary">Save</button>
  </div>
  <div class="toolbar_item toolbar_item--center">
    {{> molecules-search }}
  </div>
</div>