{{# demo }}
  {{> atoms-toggle-menu:js-tog-flyout }}
{{/ demo }}

<div class="flyout toggle_target">
    <!--<div class="flyout_close">
            <h5 class="flyout_heading">FLYOUT</h5>
            <label for="js-tog-flyout" class="i i-times"></label>
        </div>-->
    <div class="flyout_inner">
        <div class="ecomBasket">
            <table class="table">
                <colgroup>
                    <col class="w-9"></col>
                    <col></col>
                    <col></col>
                </colgroup>

                <thead>
                    <tr>
                        <th>Item</th>
                        <th class="qty">Qty</th>
                        <th class="txt-center">Price</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="media">
                                <div class="media_body">
                                    <h3 class="h5" style="margin-bottom: 0;">Annual Convention 2015</h3>
                                    <p class="small" style="margin-bottom: 0;">Membership Stalls @ £360 + VAT</p>
                                    <p class="small" style="margin-bottom: 0;">Royal Albert Hall</p>
                                    <p class="small" style="margin-bottom: 0;">
                                        <svg class="i">
                                            <use xlink:href="/../images/icons/svg-defs.svg#calendar" />
                                        </svg>
                                        6th
                                        <div class="event-card_month">Oct<span>ober</span> 2015</div>
                                    </p>
                                    <!--<div class="event-card event-card--sm event-card--inline">
                                            <div class="event-card_days">
                                                <svg class="i">
                                                    <use xlink:href="/../images/icons/svg-defs.svg#calendar" />
                                                </svg>
                                                6th
                                            </div>
                                            <div class="event-card_month">Oct<span>ober</span> 2015</div>
                                            <div class="event-card_time">
                                                <span>10:00</span><span> — 16:45</span>
                                            </div>
                                        </div>-->
                                    <!--<time datetime="2015-10-06T10:00">06/10/15 10:00</time> - <time datetime="16:45">16:45</time>-->
                                </div>
                                <div class="media_right">
                                    <button type="button" class="btn btn--sm btn--i-only">
                                        <svg class="i">
                                            <use xlink:href="/../images/icons/svg-defs.svg#trash" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="qty">2</td>
                        <td>£720</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="media">
                                <div class="media_body">
                                    <h3 class="h5" style="margin-bottom: 0;">Annual Convention 2015</h3>
                                    <p style="margin-bottom: 5px;">Membership Stalls @ £360 + VAT</p>
                                    <p class="small" style="margin-bottom: 3px;">
                                        <svg class="i">
                                            <use xlink:href="/../images/icons/svg-defs.svg#location" />
                                        </svg> Royal Albert Hall
                                    </p>
                                    <p class="small" style="margin: 0;">
                                        <svg class="i">
                                            <use xlink:href="/../images/icons/svg-defs.svg#calendar" />
                                        </svg>
                                        <time datetime="2015-10-06T10:00">06/10/15 10:00</time> - <time datetime="16:45">16:45</time>
                                    </p>
                                </div>
                                <div class="media_right">
                                    <button type="button" class="btn btn--sm btn--i-only">
                                        <svg class="i">
                                            <use xlink:href="/../images/icons/svg-defs.svg#trash" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="qty">1</td>
                        <td>£1000</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="2">Sub Total:</td>
                        <td>£1720</td>
                    </tr>
                    <tr>
                        <td colspan="2">VAT:</td>
                        <td>£144</td>
                    </tr>
                    <tr class="strong">
                        <td colspan="2">Total:</td>
                        <td>£1864</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="has-icon has-icon--left has-icon--submit u-fr">
            <input type="submit" class="btn btn--primary btn--lg" value="View Basket &amp; Checkout" />
            <span class="i i-basket i--white f-control_icon"></span>
        </div>
    </div>
</div>
