<div class="flyout_wrapper">
  {{> atoms-toggle-menu:js-tog-flyout }}

  <div class="flyout toggle_target">
    <div class="flyout_close">
      <h5 class="flyout_heading">FLYOUT</h5>
      <label for="js-tog-flyout" class="i i-times"></label>
    </div>
    <div class="basket">
      <table class="table">
        <colgroup>
          <col class="w-9"></col>
          <col></col>
          <col></col>
        </colgroup>
        
        <thead>
          <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Price</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td>
              <div class="media">
                <div class="media_fr">
                  <button type="button" class="btn btn--xs i i-times"></button>
                </div>
	              <div class="media_body">
                  <h3 class="h5" style="margin-bottom:0;">Annual Convention 2015</h3>
                  <p style="margin-bottom:5px;">Membership Stalls @ £360 + VAT</p>
		              <p class="small" style="margin-bottom:3px;">Royal Albert Hall</p>
                  <p class="small" style="margin:0;">
                    <i class="i i-calendar"></i>
                    <time datetime="2015-10-06">06/10/15</time> <time datetime="10:00">10:00</time> - <time datetime="16:45">16:45</time>
                  </p>
	              </div>
              </div>
            </td>
            <td class="qty"><input type="number" step="1" value="2" /></td>
            <td>£720</td>
          </tr>
          <tr>
            <td>
              <div class="media">
                <div class="media_fr">
                  <button type="button" class="btn btn--xs i i-times"></button>
                </div>
	              <div class="media_body">
                  <h3 class="h5" style="margin-bottom:0;">Annual Convention 2015</h3>
                  <p style="margin-bottom:5px;">Membership Stalls @ £360 + VAT</p>
		              <p class="small" style="margin-bottom:3px;">Royal Albert Hall</p>
                  <p class="small" style="margin:0;">
                    <i class="i i-calendar"></i>
                    <time datetime="2015-10-06">06/10/15</time> <time datetime="10:00">10:00</time> - <time datetime="16:45">16:45</time>
                  </p>
	              </div>
              </div>
            </td>
            <td class="qty"><input type="number" step="1" value="1" /></td>
            <td>£1000</td>
          </tr>
        </tbody>
        
        <tfoot>
          <tr>
            <td colspan="2">Sub Total:</td>
            <td>£1720</td>
          </tr>
          <tr>
            <td colspan="2">VAT:</td>
            <td>£144</td>
          </tr>
          <tr>
            <td colspan="2">Total:</td>
            <td>£1864</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="flyout_inner">
      <button type="button" class="btn btn--primary btn--lg u-fr"><i class="i i-basket i--white"></i>View Basket & Checkout</button>
    </div>
  </div>