<div class="event-date">
  <i class="i event-date_cal"></i>
  <div class="event-date_days">20<span> — 21</span></div>
  <div class="event-date_month">
    Sept<span>ember</span> 2014
  </div>
  <div class="event-date_time">
    <i class="i i-calendar"></i>
    <span>10:00</span><span> — 22:00</span>
  </div>
</div>

<div class="event-date event-date--sm">
  <div class="event-date_days">20<span> — 21</span></div>
  <div class="event-date_month">
    Nov<span>ember</span> 2014
  </div>
  <div class="event-date_time">
    <i class="i i-calendar"></i>
    <span>10:00</span><span> — 22:00</span>
  </div>
</div>

<div class="event-date event-date--inline">
  <div class="event-date_days">20<span> — 21</span></div>
  <div class="event-date_month">
    Jan<span>uary</span> 2014
  </div>
  <div class="event-date_time">
    <i class="i i-calendar"></i>
    <span>10:00</span><span> — 22:00</span>
  </div>
</div>

<div class="event-date event-date--sm event-date--inline">
  <div class="event-date_days">20<span> — 21</span></div>
  <div class="event-date_month">
    Feb<span>ruary</span> 2014
  </div>
  <div class="event-date_time">
    <i class="i i-calendar"></i>
    <span>10:00</span><span> — 22:00</span>
  </div>
</div>

<div class="event-date event-date--single">
  <div class="event-date_days">20</div>
  <div class="event-date_month">
    Sept<span>ember</span>
  </div>
</div>