<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<div itemscope="" itemtype="http://schema.org/Event/BusinessEvent">
  <meta itemprop="url" content="http://www.iod.com/connecting/events/2015/october/annual-convention-2015" />
  <h3 itemprop="name">IoD Annual Convention 2015</h3>
  <img itemprop="image" src="http://placeimg.com/100/100/people" alt="Avatar"/>
  <p itemprop="description">On 6 October 2015, over 2000 business leaders will gather under the roof of the Royal Albert Hall, to be part of the biggest business event of the year - the IoD Annual Convention.</p>
  
  <h5>Speakers</h5>
  <ul>
    <li itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
      <span itemprop="name">Richard Scudamore</span>, <span itemprop="jobTitle">Chief Executive</span>, <span itemprop="worksFor">Premier League</span>
    </li>
      <li itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
        <span itemprop="name">Simon Stevens</span>, CEO, National Health Service
    </li>
      <li itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
        <span itemprop="name">Matt Brittin</span>, President, EMEA Business and Operations, Google
    </li>
  </ul>
  
  <h5>Location</h5>
  <address itemprop="location" itemscope="" itemtype="http://schema.org/Place">
    <p class="h5 h-font" itemprop="name">Royal Albert Hall</p>

    <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
      <div itemprop="streetAddress">Kensington Gore</div>
      <div itemprop="addressLocality">Kensington</div>
      <div itemprop="addressRegion">London</div>
      <div itemprop="postalCode">SW7 2AP</div>
    </div>
    <abbr title="Phone">P:</abbr><span itemprop="telephone"> +44 (0)20 7766 8919</span>
    <div itemscope="" itemprop="hasMap" itemtype="http://schema.org/Map">
      <meta itemprop="mapType" itemtype="http://schema.org/TransitMap" />
      <a itemprop="url" href="https://www.google.com/maps/place/Royal+Albert+Hall/@51.500909,-0.177366,17z/data=!3m1!4b1!4m2!3m1!1s0x4876055b21867ad1:0x5efe9cee35da2fd9?hl=en-US" target="_blank">Get Directions</a>
    </div>
  </address>
  
  <time itemprop="startDate" content="2015-10-06T10:00" datetime="2015-10-06T10:00">
    <span>Date:</span> 06 Oct<span>ober</span> 2015<br/>
    10:00<span class="u-fl">Time:&nbsp;</span>
  </time> — <time itemprop="endDate" content="2015-10-06T16:45" datetime="2015-10-06T16:45">16:45</time>

  <p itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
    Member price from <span itemprop="price" content="330.00">£330 + VAT</span>
  </p>

  <p itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
    Non-member price from <span itemprop="price" content="330.00">£330 + VAT</span>
  </p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.6707635949024!2d-0.17736600000000619!3d51.50090900000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876055b21867ad1%3A0x5efe9cee35da2fd9!2sRoyal+Albert+Hall!5e0!3m2!1sen!2s!4v1428671388374" width="400" height="300" frameborder="0"></iframe>
</div>



<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<div class="media" itemscope="" itemtype="http://schema.org/Event/BusinessEvent">
  <meta itemprop="url" content="http://www.iod.com/connecting/events/2015/october/annual-convention-2015" />
  <div class="media_left">
    <img itemprop="image" src="http://placeimg.com/100/100/people" alt="Avatar"/>
  </div>
  <div class="media_body">
    <h5 style="margin-bottom:0;" itemprop="name">IoD Annual Convention 2015</h5>

    <address style="margin-bottom:0;" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
      <abbr title="Date" style="display: inline-block;">
        <svg class="i">
          <use xlink:href="../../images/icons/svg-defs.svg#location" />
        </svg>
      </abbr>
      <span itemprop="name">
        Royal Albert Hall,
        <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressRegion">London</span>
        </span>
      </span>
    </address>

    <time itemprop="startDate" content="2015-10-06T10:00" datetime="2015-10-06T10:00">
      <abbr title="Date" style="display: inline-block;">
        <svg class="i">
          <use xlink:href="../../images/icons/svg-defs.svg#calendar" />
        </svg>
      </abbr> 06 Oct<span>ober</span> 2015
    </time>
    <br/>
    <time itemprop="endDate" content="2015-10-06T16:45" datetime="2015-10-06T16:45">
      <abbr title="Time" style="display: inline-block;">
        <svg class="i">
          <use xlink:href="../../images/icons/svg-defs.svg#time" />
        </svg>
      </abbr> 10:00 — 16:45
    </time>

    <hr/>

    <p itemprop="description">On 6 October 2015, over 2000 business leaders will gather under the roof of the Royal Albert Hall, to be part of the biggest business event of the year - the IoD Annual Convention.</p>
  </div>

  <div class="media_right">
    <p itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
      Member price from <span itemprop="price" content="330.00">£330 + VAT</span>
    </p>

    <p itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
      Non-member price from <span itemprop="price" content="330.00">£330 + VAT</span>
    </p>

    <a href="#" class="btn btn--primary">Book Tickets</a>
    <a href="#" class="btn">View Details</a>
  </div>
</div>
