&lt;div class=&quot;u-relative&quot;&gt;
  {{&gt; atoms-landscape }}
  &lt;div class=&quot;page-header page-header--dark&quot;&gt;
    &lt;h6 class=&quot;page-header_meta&quot;&gt;Institute of Directors&lt;/h6&gt;
    &lt;h2 class=&quot;page-header_title&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;{{ headline.medium }}&lt;/a&gt;
    &lt;/h2&gt;
    &lt;p class=&quot;lead&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn--sm&quot;&gt;Read more &amp;rarr;&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;hr/&gt;

&lt;div class=&quot;u-relative&quot;&gt;
  {{&gt; atoms-landscape }}
  &lt;div class=&quot;page-header page-header--inline page-header--dark u-top&quot;&gt;
    &lt;h6 class=&quot;page-header_meta&quot;&gt;Institute of Directors&lt;/h6&gt;
    &lt;h2 class=&quot;page-header_title&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;{{ headline.medium }}&lt;/a&gt;
    &lt;/h2&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;hr/&gt;

&lt;div class=&quot;u-relative&quot;&gt;
  {{&gt; atoms-landscape }}
  &lt;div class=&quot;page-header u-top&quot;&gt;
    &lt;h6 class=&quot;page-header_meta&quot;&gt;Institute of Directors&lt;/h6&gt;
    &lt;h2 class=&quot;page-header_title&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;{{ headline.medium }}&lt;/a&gt;
    &lt;/h2&gt;
    &lt;p class=&quot;lead&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;hr/&gt;

&lt;div class=&quot;u-relative&quot;&gt;
  {{&gt; atoms-landscape }}
  &lt;div class=&quot;page-header page-header--inline&quot;&gt;
    &lt;h6 class=&quot;page-header_meta&quot;&gt;Institute of Directors&lt;/h6&gt;
    &lt;h2 class=&quot;page-header_title&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;{{ headline.medium }}&lt;/a&gt;
    &lt;/h2&gt;
    &lt;p class=&quot;lead&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;hr/&gt;

&lt;div class=&quot;grid-row&quot;&gt;
  {{&gt; atoms-landscape:w-12 }}
  &lt;div class=&quot;w-4 u-relative&quot;&gt;
    &lt;div class=&quot;page-header&quot;&gt;
      &lt;p class=&quot;page-header_meta&quot;&gt;Institute of Directors&lt;/p&gt;
      &lt;h2 class=&quot;page-header_title&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;{{ headline.medium }}&lt;/a&gt;
      &lt;/h2&gt;
      &lt;p class=&quot;h4 lead&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;hr/&gt;

&lt;div class=&quot;grid-row&quot;&gt;
  {{&gt; atoms-landscape:w-12 }}
  &lt;div class=&quot;w-4 u-relative&quot;&gt;
    &lt;div class=&quot;page-header page-header--dark&quot;&gt;
      &lt;p class=&quot;page-header_meta&quot;&gt;Institute of Directors&lt;/p&gt;
      &lt;h3 class=&quot;page-header_title&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;{{ headline.medium }}&lt;/a&gt;
      &lt;/h3&gt;
      &lt;p class=&quot;h4 lead&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!--&lt;hr/&gt;

&lt;div class=&quot;page-header_container&quot;&gt;
  {{&gt; atoms-landscape }}
  &lt;div class=&quot;page-header page-header--dark&quot;&gt;
    &lt;h6 class=&quot;page-header_meta&quot;&gt;Institute of Directors&lt;/h6&gt;
    &lt;h2 class=&quot;page-header_title&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;{{ headline.medium }}&lt;/a&gt;
    &lt;/h2&gt;
    &lt;p class=&quot;lead&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn&quot;&gt;Read more &amp;rarr;&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;--&gt;