<p>
  <a href="#" class="btn">link Button</a>
  <a href="#" class="btn" disabled>link Button Disabled</a>
</p>
<p>
  <input type="button" class="btn" value="input Button" />
  <input type="button" class="btn" value="input Button Disabled" disabled />
</p>
<p>
  <button type="button" class="btn">button Button</button>
  <button type="button" class="btn" disabled="">button Button Disabled</button>
</p>

<p>
  <a href="#" class="btn--primary">link primary Button</a>
  <a href="#" class="btn--primary" disabled="">link primary Button Disabled</a>
</p>
<p>
  <input type="button" class="btn--primary" value="input primary Button" />
  <input type="button" class="btn--primary" value="input primary Button Disabled" disabled />
</p>
<p>
  <button type="button" class="btn--primary">button primary Button</button>
  <button type="button" class="btn--primary" disabled="">button primary Button Disabled</button>
</p>