<p>
  <button type="button" class="btn btn--xs">Button xs</button>
  <button type="button" class="btn btn--sm">Button sm</button>
  <button type="button" class="btn">Button</button>
  <button type="button" class="btn btn--lg">Button lg</button>
</p>
<p>
  <button type="button" class="btn btn--primary btn--xs">Button xs</button>
  <button type="button" class="btn btn--primary btn--sm">Button sm</button>
  <button type="button" class="btn btn--primary">Button</button>
  <button type="button" class="btn btn--primary btn--lg">Button lg</button>
</p>