<p>
  <a href="#" class="btn btn--xs">link Button xs</a>
  <a href="#" class="btn btn--sm">link Button sm</a>
  <a href="#" class="btn">link Button</a>
  <a href="#" class="btn btn--lg">link Button lg</a>
</p>
<p>
  <a href="#" class="btn btn--primary btn--xs">link Button xs</a>
  <a href="#" class="btn btn--primary btn--sm">link Button sm</a>
  <a href="#" class="btn btn--primary">link Button</a>
  <a href="#" class="btn btn--primary btn--lg">link Button lg</a>
</p>