<p>
  <button type="button" class="btn btn--primary">primary Button</button>
  <button type="button" class="btn btn--primary" disabled>primary Button Disabled</button>
</p>

<p>
  <button type="button" class="btn btn--link">Link Button</button>
  <button type="button" class="btn btn--link" disabled>Link Button Disabled</button>
</p>

<p>
	<button type="button" class="btn btn--outline">Outline Button</button>
	<button type="button" class="btn btn--outline" disabled>Outline Button Disabled</button>
</p>

<p>
  <button type="button" class="btn btn--cta">CTA Button</button>
  <button type="button" class="btn btn--cta" disabled>CTA Button Disabled</button>
</p>