<p>
  <button type="button" class="btn i i-search">Button</button>
  <!--<button type="button" class="btn i i-search" disabled="">Button Disabled</button>-->

  <button type="button" class="btn">
    <i class="i i-search"></i>Button
  </button>

  <button type="button" class="btn btn--primary i i-search i--white">primary Button</button>
  <!--<button type="button" class="btn btn--primary i i-search i--white" disabled>primary Button Disabled</button>-->

  <button type="button" class="btn btn--link i i-search">Link Button</button>
  <!--<button type="button" class="btn btn--link i i-search" disabled>Link Button Disabled</button>-->

  <button type="button" class="btn btn--outline i i-search">Outline Button</button>
  <!--<button type="button" class="btn btn--outline i i-search" disabled>Outline Button Disabled</button>-->
</p>
<p>
  <button type="button" class="btn btn--xs">Button</button>
  <button type="button" class="btn btn--sm">Button</button>
  <button type="button" class="btn">Button</button>
  <button type="button" class="btn btn--lg">Button</button>
  <button type="button" class="btn btn--cta">Button</button>
</p>
<p>
  <button type="button" class="btn btn--xs i i-search">Button</button>
  <button type="button" class="btn btn--sm i i-search">Button</button>
  <button type="button" class="btn i i-search">Button</button>
  <button type="button" class="btn btn--lg i i-search">Button</button>
  <button type="button" class="btn btn--cta i i-search">Button</button>
</p>
<p>
  <button type="button" class="btn btn--xs"><i class="i i-search"></i>Button</button>
  <button type="button" class="btn btn--sm"><i class="i i-search"></i>Button</button>
  <button type="button" class="btn"><i class="i i-search"></i>Button</button>
  <button type="button" class="btn btn--lg"><i class="i i-search"></i>Button</button>
  <button type="button" class="btn btn--cta"><i class="i i-search"></i>CTA Button</button>
</p>
<p>
  <button type="button" class="btn btn--xs i i-search i--only">Button</button>
  <button type="button" class="btn btn--sm i i-search i--only">Button</button>
  <button type="button" class="btn i i-search i--only">Button</button>
  <button type="button" class="btn btn--lg i i-search i--only">Button</button>
  <button type="button" class="btn btn--cta i i-search i--only">Button</button>
</p>
<p>
  <button type="button" class="btn btn--xs i--only"><i class="i i-search"></i></button>
  <button type="button" class="btn btn--sm i--only"><i class="i i-search"></i></button>
  <button type="button" class="btn i--only"><i class="i i-search"></i></button>
  <button type="button" class="btn btn--lg i--only"><i class="i i-search"></i></button>
  <button type="button" class="btn btn--cta i--only"><i class="i i-search"></i></button>
</p>
<p>
  <button type="button" class="btn btn--xs i i-search"></button>
  <button type="button" class="btn btn--sm i i-search"></button>
  <button type="button" class="btn i i-search"></button>
  <button type="button" class="btn btn--lg i i-search"></button>
  <button type="button" class="btn btn--cta i i-search"></button>
</p>