<p>
  <button type="button" class="btn">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#triangle-left" />
    </svg>Button</button>
  <!--<button type="button" class="btn i i-search" disabled="">Button Disabled</button>-->

  <button type="button" class="btn">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button
  </button>

  <button type="button" class="btn btn--primary">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>primary Button</button>
  <!--<button type="button" class="btn btn--primary i i-search i--white" disabled>primary Button Disabled</button>-->

  <button type="button" class="btn btn--link">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Link Button</button>
  <!--<button type="button" class="btn btn--link i i-search" disabled>Link Button Disabled</button>-->

  <button type="button" class="btn btn--outline">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Outline Button</button>
  <!--<button type="button" class="btn btn--outline i i-search" disabled>Outline Button Disabled</button>-->
</p>
<p>
  <button type="button" class="btn btn--xs">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
  <button type="button" class="btn btn--sm">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
  <button type="button" class="btn">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
  <button type="button" class="btn btn--lg">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
  <button type="button" class="btn btn--cta">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
</p>
<p>
  <button type="button" class="btn btn--xs btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
  <button type="button" class="btn btn--sm btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
  <button type="button" class="btn btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
  <button type="button" class="btn btn--lg btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
  <button type="button" class="btn btn--cta btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>Button</button>
</p>
<p>
  <button type="button" class="btn btn--xs btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </button>
  <button type="button" class="btn btn--sm btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </button>
  <button type="button" class="btn btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </button>
  <button type="button" class="btn btn--lg btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </button>
  <button type="button" class="btn btn--cta btn--i-only">
    <svg class="i">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </button>
</p>
<p>
  <div class="has-icon has-icon--left has-icon--submit">
    <input type="submit" class="btn btn--xs" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#triangle-left" />
    </svg>
  </div>
  <div class="has-icon has-icon--left has-icon--submit">
    <input type="submit" class="btn btn--sm" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#triangle-left" />
    </svg>
  </div>
  <div class="has-icon has-icon--left has-icon--submit">
    <input type="submit" class="btn" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#triangle-left" />
    </svg>
  </div>
  <div class="has-icon has-icon--left has-icon--submit">
    <input type="submit" class="btn btn--lg" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#triangle-left" />
    </svg>
  </div>
  <div class="has-icon has-icon--left has-icon--submit">
    <input type="submit" class="btn btn--cta" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#triangle-left" />
    </svg>
  </div>
</p>
  <div class="has-icon has-icon--right has-icon--submit">
    <input type="submit" class="btn btn--xs" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </div>
  <div class="has-icon has-icon--right has-icon--submit">
    <input type="submit" class="btn btn--sm" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </div>
  <div class="has-icon has-icon--right has-icon--submit">
    <input type="submit" class="btn" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </div>
  <div class="has-icon has-icon--right has-icon--submit">
    <input type="submit" class="btn btn--lg" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#search" />
    </svg>
  </div>
  <div class="has-icon has-icon--right has-icon--submit">
    <input type="submit" class="btn btn--cta" />
    <svg class="i f-control_icon">
      <use xlink:href="/../images/icons/svg-defs.svg#triangle-right" />
    </svg>
  </div>
</p>
