<input type="checkbox" id="{{ styleModifier }}" class="toggle_chkbx" aria-pressed="false" />
<label for="{{ styleModifier }}" id="leftPush" class="toggle_btn" role="button">
  <svg class="i">
    <use xlink:href="/images/icons/svg-defs.svg#menu" />
  </svg>
	<span class="toggle_txt">MENU</span>
	<!--<span class="u-sr">Toggle menu</span>-->
</label>