<input type="checkbox" id="{{ styleModifier }}" class="toggle_chkbx" aria-pressed="false" />
<label for="{{ styleModifier }}" id="leftPush" class="toggle_btn i i-menu" role="button">
	<span class="toggle_txt">MENU</span>
	<!--<span class="u-sr">Toggle menu</span>-->
</label>