<input type="checkbox" id="{{ styleModifier }}" class="toggle_chkbx" aria-pressed="false" />
<label for="{{ styleModifier }}" id="leftPush" class="basket toggle_btn i i-basket i--white" role="button">
  <span class="toggle_txt">Basket</span>
  <small>(1)</small>
</label>