<input type="checkbox" id="{{ styleModifier }}" class="toggle_chkbx" aria-pressed="false" />
<label for="{{ styleModifier }}" id="leftPush" class="basket toggle_btn" role="button">
  <svg class="i i--white">
    <use xlink:href="../../images/icons/svg-defs.svg#basket" />
  </svg>
  <span class="toggle_txt">Basket</span>
  <small>(1)</small>
</label>