&lt;form action=&quot;#&quot; method=&quot;post&quot; class=&quot;f-search&quot; role=&quot;search&quot;&gt;
  &lt;label for=&quot;search-field&quot; class=&quot;u-sr&quot;&gt;Search&lt;/label&gt;
  &lt;div class=&quot;input-group&quot;&gt;
    &lt;input type=&quot;search&quot; id=&quot;search-field&quot; class=&quot;f-control&quot; placeholder=&quot;Search&quot; /&gt;
    &lt;span class=&quot;input-group_btn&quot;&gt;
      &lt;button type=&quot;button&quot; class=&quot;btn i i-search&quot;&gt;&lt;/button&gt;
    &lt;/span&gt;
  &lt;/div&gt;
&lt;/form&gt;