{{# demo }}
&lt;form class=&quot;f-horizontal&quot; action=&quot;#&quot; role=&quot;form&quot;&gt;
{{/ demo }}
  &lt;div class=&quot;f-address-control&quot;&gt;
    &lt;fieldset class=&quot;wf-2&quot;&gt;
      &lt;legend class=&quot;legend&quot;&gt;Find Address&lt;/legend&gt;
      &lt;div class=&quot;f-group&quot;&gt;
        &lt;label for=&quot;findCountry&quot; class=&quot;control-label&quot;&gt;
          Country &lt;abbr title=&quot;required&quot;&gt;*&lt;/abbr&gt;
        &lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;select id=&quot;findCountry&quot; class=&quot;f-control js-findCountry&quot;&gt;
            &lt;option value=&quot;0&quot;&gt;Please Select...&lt;/option&gt;
            &lt;optgroup label=&quot;United Kingdom&quot; id=&quot;js-uk&quot;&gt;
              &lt;option value=&quot;1&quot;&gt;England&lt;/option&gt;
              &lt;option value=&quot;2&quot;&gt;Jersey&lt;/option&gt;
              &lt;option value=&quot;3&quot;&gt;Scotland&lt;/option&gt;
            &lt;/optgroup&gt;
            &lt;optgroup label=&quot;Rest of World&quot; id=&quot;js-restOfWorld&quot;&gt;
              &lt;option value=&quot;4&quot;&gt;Australia&lt;/option&gt;
              &lt;option value=&quot;5&quot;&gt;New Zealand&lt;/option&gt;
              &lt;option value=&quot;6&quot;&gt;USA&lt;/option&gt;
            &lt;/optgroup&gt;
          &lt;/select&gt;
          &lt;p class=&quot;help-block&quot;&gt;Select your country to find your address&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;f-find_postcode f-group&quot;&gt;
        &lt;label for=&quot;findPostcode&quot; class=&quot;control-label&quot;&gt;
          Postcode &lt;abbr title=&quot;required&quot;&gt;*&lt;/abbr&gt;
        &lt;/label&gt;
        &lt;div class=&quot;w-3&quot;&gt;
          &lt;div class=&quot;input-group&quot;&gt;
            &lt;input id=&quot;findPostcode&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;Postcode&quot; disabled /&gt;
            &lt;span class=&quot;input-group_btn&quot;&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn--primary i i-search i--white&quot; disabled&gt; Find&lt;/button&gt;
            &lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;f-find_address f-group&quot;&gt;
        &lt;label for=&quot;address&quot; class=&quot;control-label&quot;&gt;Select your Address&lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;select id=&quot;address&quot; class=&quot;f-control&quot; size=&quot;3&quot; disabled&gt;
            &lt;option&gt;1, The Street&lt;/option&gt;
            &lt;option&gt;2, The Street&lt;/option&gt;
            &lt;option&gt;3, The Street&lt;/option&gt;
          &lt;/select&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;

    &lt;fieldset class=&quot;f-address wf-2&quot;&gt;
      &lt;legend class=&quot;legend&quot;&gt;Address&lt;/legend&gt;
      &lt;div class=&quot;f-group&quot;&gt;
        &lt;label for=&quot;addressLine1&quot; class=&quot;control-label&quot;&gt;
          Address Line 1 &lt;abbr title=&quot;required&quot;&gt;*&lt;/abbr&gt;
        &lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;input id=&quot;addressLine1&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;Address Line 1&quot; /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;f-group&quot;&gt;
        &lt;label for=&quot;addressLine2&quot; class=&quot;control-label&quot;&gt;Address Line 2&lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;input id=&quot;addressLine2&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;Address Line 2&quot; /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;f-group&quot;&gt;
        &lt;label for=&quot;addressLine3&quot; class=&quot;control-label&quot;&gt;Address Line 3&lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;input id=&quot;addressLine3&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;Address Line 3&quot; /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;f-group&quot;&gt;
        &lt;label for=&quot;town&quot; class=&quot;control-label&quot;&gt;
          Town/City &lt;abbr title=&quot;required&quot;&gt;*&lt;/abbr&gt;
        &lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;input id=&quot;town&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;Town or City&quot; /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;f-group&quot;&gt;
        &lt;label for=&quot;county&quot; class=&quot;control-label&quot;&gt;County/State&lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;input id=&quot;county&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;County or State&quot; /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;f-address_postcode f-group&quot;&gt;
        &lt;label for=&quot;postcode&quot; class=&quot;control-label&quot;&gt;
          Postcode &lt;abbr title=&quot;required&quot;&gt;*&lt;/abbr&gt;
        &lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;input id=&quot;postcode&quot; type=&quot;text&quot; class=&quot;f-control&quot; placeholder=&quot;Postcode&quot; /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;f-address_country f-group&quot;&gt;
        &lt;label for=&quot;country&quot; class=&quot;control-label&quot;&gt;Country&lt;/label&gt;
        &lt;div class=&quot;w-5&quot;&gt;
          &lt;p class=&quot;f-control_static js-country&quot;&gt;&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;
  &lt;/div&gt;
{{# demo }}
&lt;/form&gt;
{{/ demo }}
