&lt;h1&gt;Responsive Utilities&lt;/h1&gt;
&lt;p class=&quot;lead&quot;&gt;For faster mobile-friendly development, use these utility classes for showing and hiding content by device via media query. Also included are utility classes for toggling content when printed.&lt;/p&gt;
&lt;p&gt;Try to use these on a limited basis and avoid creating entirely different versions of the same site. Instead, use them to complement each device&#39;s presentation.&lt;/p&gt;

&lt;h2 class=&quot;h3&quot;&gt;Available classes&lt;/h2&gt;
&lt;p&gt;Use a single or combination of the available classes for toggling content across viewport breakpoints.&lt;/p&gt;
&lt;div class=&quot;table--responsive&quot;&gt;
  &lt;table class=&quot;table table--bordered table--striped responsive-utilities&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;&lt;/th&gt;
        &lt;th&gt;
          Extra small devices
          &lt;small&gt;Phones (&amp;lt;500px)&lt;/small&gt;
        &lt;/th&gt;
        &lt;th&gt;
          Small devices
          &lt;small&gt;Tablets (≥500px)&lt;/small&gt;
        &lt;/th&gt;
        &lt;th&gt;
          Medium devices
          &lt;small&gt;Desktops (≥740px)&lt;/small&gt;
        &lt;/th&gt;
        &lt;th&gt;
          Large devices
          &lt;small&gt;Desktops (≥980px)&lt;/small&gt;
        &lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.visible-xs-*&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.visible-sm-*&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.visible-md-*&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.visible-lg-*&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.hidden-xs&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.hidden-sm&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.hidden-md&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.hidden-lg&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
&lt;p&gt;&lt;code&gt;.visible-*-*&lt;/code&gt; classes for each breakpoint come in three variations, one for each CSS &lt;code&gt;display&lt;/code&gt; property value listed below.&lt;/p&gt;
&lt;div class=&quot;table--responsive&quot;&gt;
  &lt;table class=&quot;table table--bordered table--striped&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;Group of classes&lt;/th&gt;
        &lt;th&gt;
          CSS &lt;code&gt;display&lt;/code&gt;
        &lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;
          &lt;code&gt;.visible-*-block&lt;/code&gt;
        &lt;/td&gt;
        &lt;td&gt;
          &lt;code&gt;display: block;&lt;/code&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;
          &lt;code&gt;.visible-*-inline&lt;/code&gt;
        &lt;/td&gt;
        &lt;td&gt;
          &lt;code&gt;display: inline;&lt;/code&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;
          &lt;code&gt;.visible-*-inline-block&lt;/code&gt;
        &lt;/td&gt;
        &lt;td&gt;
          &lt;code&gt;display: inline-block;&lt;/code&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
&lt;p&gt;So, for extra small (&lt;code&gt;xs&lt;/code&gt;) screens for example, the available &lt;code&gt;.visible-*-*&lt;/code&gt; classes are: &lt;code&gt;.visible-xs-block&lt;/code&gt;, &lt;code&gt;.visible-xs-inline&lt;/code&gt;, and &lt;code&gt;.visible-xs-inline-block&lt;/code&gt;.&lt;/p&gt;

&lt;h2 id=&quot;responsive-utilities-print&quot;&gt;Print classes&lt;/h2&gt;
&lt;p&gt;Similar to the regular responsive classes, use these for toggling content for print.&lt;/p&gt;
&lt;div class=&quot;table--responsive&quot;&gt;
  &lt;table class=&quot;table table--bordered table--striped responsive-utilities&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;Classes&lt;/th&gt;
        &lt;th&gt;Browser&lt;/th&gt;
        &lt;th&gt;Print&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.visible-print-block&lt;/code&gt;
          &lt;br/&gt;
            &lt;code&gt;.visible-print-inline&lt;/code&gt;
            &lt;br/&gt;
              &lt;code&gt;.visible-print-inline-block&lt;/code&gt;
            &lt;/th&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;
          &lt;code&gt;.hidden-print&lt;/code&gt;
        &lt;/th&gt;
        &lt;td class=&quot;is-visible&quot;&gt;Visible&lt;/td&gt;
        &lt;td class=&quot;is-hidden&quot;&gt;Hidden&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;

&lt;h2&gt;Test cases&lt;/h2&gt;
&lt;p&gt;Resize your browser or load on different devices to test the responsive utility classes.&lt;/p&gt;

&lt;h3&gt;Visible on...&lt;/h3&gt;
&lt;p&gt;Green checkmarks indicate the element &lt;strong&gt;is visible&lt;/strong&gt; in your current viewport.&lt;/p&gt;

&lt;div class=&quot;g-row docs-rwd-helpers visible-on&quot;&gt;
  &lt;div class=&quot;w-3&quot;&gt;
    &lt;span class=&quot;hidden-xs&quot;&gt;Extra small&lt;/span&gt;
    &lt;span class=&quot;visible-xs-block&quot;&gt;✔ Visible on x-small&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-3&quot;&gt;
    &lt;span class=&quot;hidden-sm&quot;&gt;Small&lt;/span&gt;
    &lt;span class=&quot;visible-sm-block&quot;&gt;✔ Visible on small&lt;/span&gt;
  &lt;/div&gt;
  &lt;!--&lt;div class=&quot;u-cf visible-xs-block&quot;&gt;&lt;/div&gt;--&gt;
  &lt;div class=&quot;w-3&quot;&gt;
    &lt;span class=&quot;hidden-md&quot;&gt;Medium&lt;/span&gt;
    &lt;span class=&quot;visible-md-block&quot;&gt;✔ Visible on medium&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-3&quot;&gt;
    &lt;span class=&quot;hidden-lg&quot;&gt;Large&lt;/span&gt;
    &lt;span class=&quot;visible-lg-block&quot;&gt;✔ Visible on large&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;g-row docs-rwd-helpers visible-on&quot;&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-xs hidden-sm&quot;&gt;Extra small and small&lt;/span&gt;
    &lt;span class=&quot;visible-xs-block visible-sm-block&quot;&gt;✔ Visible on x-small and small&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-md hidden-lg&quot;&gt;Medium and large&lt;/span&gt;
    &lt;span class=&quot;visible-md-block visible-lg-block&quot;&gt;✔ Visible on medium and large&lt;/span&gt;
  &lt;/div&gt;
  &lt;!--&lt;div class=&quot;u-cf visible-xs-block&quot;&gt;&lt;/div&gt;--&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-xs hidden-md&quot;&gt;Extra small and medium&lt;/span&gt;
    &lt;span class=&quot;visible-xs-block visible-md-block&quot;&gt;✔ Visible on x-small and medium&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-sm hidden-lg&quot;&gt;Small and large&lt;/span&gt;
    &lt;span class=&quot;visible-sm-block visible-lg-block&quot;&gt;✔ Visible on small and large&lt;/span&gt;
  &lt;/div&gt;
  &lt;!--&lt;div class=&quot;u-cf visible-xs-block&quot;&gt;&lt;/div&gt;--&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-xs hidden-lg&quot;&gt;Extra small and large&lt;/span&gt;
    &lt;span class=&quot;visible-xs-block visible-lg-block&quot;&gt;✔ Visible on x-small and large&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-sm hidden-md&quot;&gt;Small and medium&lt;/span&gt;
    &lt;span class=&quot;visible-sm-block visible-md-block&quot;&gt;✔ Visible on small and medium&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;h3&gt;Hidden on...&lt;/h3&gt;
&lt;p&gt;Here, green checkmarks also indicate the element &lt;strong&gt;is hidden&lt;/strong&gt; in your current viewport.&lt;/p&gt;
&lt;div class=&quot;g-row docs-rwd-helpers hidden-on&quot;&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-xs&quot;&gt;Extra small&lt;/span&gt;
    &lt;span class=&quot;visible-xs-block&quot;&gt;✔ Hidden on x-small&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-sm&quot;&gt;Small&lt;/span&gt;
    &lt;span class=&quot;visible-sm-block&quot;&gt;✔ Hidden on small&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;u-cf visible-xs-block&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-md&quot;&gt;Medium&lt;/span&gt;
    &lt;span class=&quot;visible-md-block&quot;&gt;✔ Hidden on medium&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-lg&quot;&gt;Large&lt;/span&gt;
    &lt;span class=&quot;visible-lg-block&quot;&gt;✔ Hidden on large&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;g-row docs-rwd-helpers hidden-on&quot;&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-xs hidden-sm&quot;&gt;Extra small and small&lt;/span&gt;
    &lt;span class=&quot;visible-xs-block visible-sm-block&quot;&gt;✔ Hidden on x-small and small&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-md hidden-lg&quot;&gt;Medium and large&lt;/span&gt;
    &lt;span class=&quot;visible-md-block visible-lg-block&quot;&gt;✔ Hidden on medium and large&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;u-cf visible-xs-block&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-xs hidden-md&quot;&gt;Extra small and medium&lt;/span&gt;
    &lt;span class=&quot;visible-xs-block visible-md-block&quot;&gt;✔ Hidden on x-small and medium&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-sm hidden-lg&quot;&gt;Small and large&lt;/span&gt;
    &lt;span class=&quot;visible-sm-block visible-lg-block&quot;&gt;✔ Hidden on small and large&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;u-cf visible-xs-block&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-xs hidden-lg&quot;&gt;Extra small and large&lt;/span&gt;
    &lt;span class=&quot;visible-xs-block visible-lg-block&quot;&gt;✔ Hidden on x-small and large&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;w-6&quot;&gt;
    &lt;span class=&quot;hidden-sm hidden-md&quot;&gt;Small and medium&lt;/span&gt;
    &lt;span class=&quot;visible-sm-block visible-md-block&quot;&gt;✔ Hidden on small and medium&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
