<table class="table {{ styleModifier }}">
  <thead>
    <tr>
      <th>#</th>
      <th>Table Heading 2</th>
      <th>Table Heading 3</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
      <td>Table Footer 2</td>
      <td>Table Footer 3</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>1</td>
      <td>Table Cell 2</td>
      <td>Table Cell 3</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Table Cell 2</td>
      <td>Table Cell 3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Table Cell 2</td>
      <td>Table Cell 3</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Table Cell 2</td>
      <td>Table Cell 3</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Table Cell 2</td>
      <td>Table Cell 3</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Table Cell 2</td>
      <td>Table Cell 3</td>
    </tr>
  </tbody>
</table>
