<div class="navbar__crumbs">
    <nav id="breadcrumbs" class="crumbs">
        <h3 class="crumbs__header"><a href="#breadcrumbs">Where Am I?</a></h3>
        <ul class="crumbs__list">
            <li class="crumbs__item">
                <a href="/">Home</a>
            </li>
            <li class="crumbs__item">
                <a href="/level-1">Level 1</a>
            </li>
            <li class="crumbs__item">
                <a href="/">Level 2</a>
            </li>
          <li class="crumbs__item crumbs__item--last">Level 3</li>
        </ul>
    </nav>

    <div id="js-navbarSearch" class="navbar__search">
        <form>
            <label for="search" class="sr-only">Search website</label>
            <input type="search" id="search" class="f-control navbar__search-input" placeholder="Search website">
            <input type="submit" id="btnSearch" class="navbar__search-submit" aria-label="Search">
            <span class="fa navbar__search-icon" title="Click to Search"></span>
        </form>
    </div>
</div>