&lt;p&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn--xs&quot;&gt;link Button xs&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn--sm&quot;&gt;link Button sm&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;link Button&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn--lg&quot;&gt;link Button lg&lt;/a&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn--primary btn--xs&quot;&gt;link Button xs&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn--primary btn--sm&quot;&gt;link Button sm&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn--primary&quot;&gt;link Button&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn--primary btn--lg&quot;&gt;link Button lg&lt;/a&gt;
&lt;/p&gt;