<div class="list-collapsable">
  <h3 class="list-collapsable_header">
    <a href="#" class="i i-triangle-down">Where Am I?</a>
  </h3>
  <ol class="list-collapsable_list list-steps">
    <li>Register</li>
    <li class="is-current">Join</li>
    <li>Type</li>
    <li>Pay</li>
  </ol>
</div>
