&lt;h1 class=&quot;docs-heading txt-default&quot;&gt;Heading font:&lt;/h1&gt;
&lt;h1&gt;&lt;b class=&quot;docs-heading txt-default&quot;&gt;Heading font bold:&lt;/b&gt;&lt;/h1&gt;

&lt;p class=&quot;docs-body&quot;&gt;Body font:&lt;/p&gt;
&lt;p&gt;&lt;em class=&quot;docs-body&quot;&gt;Body font italic:&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong class=&quot;docs-body&quot;&gt;Body font bold:&lt;/strong&gt;&lt;/p&gt;