/*============*\
   #VARIABLES
\*============*/
/**
 * Global Variables
 */
/**
 * Scaffolding
 */
/**
 * Links
 */
/**
 * Typography
 */
/**
 * Components
 * --------------------------------------------------------------------
 * Based on 1.5em(14px) font-size and 1.45 line-height (~21px to start)
 */
/**
 * Base Variables
 */
/**
 * Grid system
 */
/**
 * Type
 */
/**
 * Buttons
 * -----------------------------------------------------------
 * For each button, define text, background and border color.
 */
/**
 * Forms
 */
/**
 * Tables
 * --------------------------------------------------------------------------------------------
 * Customizes the `.table` component with basic values, each used across all table variations.
 */
.body {
  border: 15px solid #e6e6e6;
  margin: 0.21429rem 0.85714rem;
  padding: 0.21429rem 0.85714rem; }

.docs-heading {
  font-family: "Droid Serif", Georgia, Times, "Times New Roman", Baskerville, serif; }
  .docs-heading:after {
    content: "Droid Serif, Georgia, Times, Times New Roman, Baskerville, serif";
    padding-left: 5px; }

.docs-body {
  font-family: Tahoma, Helvetica, Arial, sans-serif; }
  .docs-body:after {
    content: "Tahoma, Helvetica, Arial, sans-serif";
    padding-left: 5px; }

.sg-grey-darkest {
  background-color: #333; }
  .sg-grey-darkest:before {
    content: "#333"; }
  .sg-grey-darkest:after {
    content: "color(grey, darkest)"; }

.sg-grey-darker {
  background-color: #666; }
  .sg-grey-darker:before {
    content: "#666"; }
  .sg-grey-darker:after {
    content: "color(grey, darker)"; }

.sg-grey-dark {
  background-color: #999; }
  .sg-grey-dark:before {
    content: "#999"; }
  .sg-grey-dark:after {
    content: "color(grey, dark)"; }

.sg-grey-base {
  background-color: #c3c6c8; }
  .sg-grey-base:before {
    content: "#c3c6c8"; }
  .sg-grey-base:after {
    content: "color(grey)"; }

.sg-grey-light {
  background-color: #ddd; }
  .sg-grey-light:before {
    content: "#ddd"; }
  .sg-grey-light:after {
    content: "color(grey, light)"; }

.sg-grey-lighter {
  background-color: #e6e6e6; }
  .sg-grey-lighter:before {
    content: "#e6e6e6"; }
  .sg-grey-lighter:after {
    content: "color(grey, lighter)"; }

.sg-grey-lightest {
  background-color: #f4f4f4; }
  .sg-grey-lightest:before {
    content: "#f4f4f4"; }
  .sg-grey-lightest:after {
    content: "color(grey, lightest)"; }

.sg-primary-base {
  background-color: #0e3a4d; }
  .sg-primary-base:before {
    content: "#0e3a4d"; }
  .sg-primary-base:after {
    content: "color(primary)"; }

.sg-primary-light {
  background-color: #165b78; }
  .sg-primary-light:before {
    content: "#165b78"; }
  .sg-primary-light:after {
    content: "color(primary, light)"; }

.sg-secondary-dark {
  background-color: #265a5b; }
  .sg-secondary-dark:before {
    content: "#265a5b"; }
  .sg-secondary-dark:after {
    content: "color(secondary, dark)"; }

.sg-secondary-base {
  background-color: #357d7f; }
  .sg-secondary-base:before {
    content: "#357d7f"; }
  .sg-secondary-base:after {
    content: "color(secondary)"; }

.sg-secondary-light {
  background-color: #44a0a3; }
  .sg-secondary-light:before {
    content: "#44a0a3"; }
  .sg-secondary-light:after {
    content: "color(secondary, light)"; }

.sg-olive-dark {
  background-color: #586e51; }
  .sg-olive-dark:before {
    content: "#586e51"; }
  .sg-olive-dark:after {
    content: "color(olive, dark)"; }

.sg-olive-base {
  background-color: #6f8b67; }
  .sg-olive-base:before {
    content: "#6f8b67"; }
  .sg-olive-base:after {
    content: "color(olive)"; }

.sg-olive-light {
  background-color: #8aa382; }
  .sg-olive-light:before {
    content: "#8aa382"; }
  .sg-olive-light:after {
    content: "color(olive, light)"; }

.sg-green-dark {
  background-color: #8ec075; }
  .sg-green-dark:before {
    content: "#8ec075"; }
  .sg-green-dark:after {
    content: "color(green, dark)"; }

.sg-green-base {
  background-color: #abd098; }
  .sg-green-base:before {
    content: "#abd098"; }
  .sg-green-base:after {
    content: "color(green)"; }

.sg-green-light {
  background-color: #c8e0bb; }
  .sg-green-light:before {
    content: "#c8e0bb"; }
  .sg-green-light:after {
    content: "color(green, light)"; }

.sg-claret-dark {
  background-color: #613c57; }
  .sg-claret-dark:before {
    content: "#613c57"; }
  .sg-claret-dark:after {
    content: "color(claret, dark)"; }

.sg-claret-base {
  background-color: #814f73; }
  .sg-claret-base:before {
    content: "#814f73"; }
  .sg-claret-base:after {
    content: "color(claret)"; }

.sg-claret-light {
  background-color: #a0638f; }
  .sg-claret-light:before {
    content: "#a0638f"; }
  .sg-claret-light:after {
    content: "color(claret, light)"; }

.sg-blue-dark {
  background-color: #a0d7e5; }
  .sg-blue-dark:before {
    content: "#a0d7e5"; }
  .sg-blue-dark:after {
    content: "color(blue, dark)"; }

.sg-blue-base {
  background-color: #c8e8f0; }
  .sg-blue-base:before {
    content: "#c8e8f0"; }
  .sg-blue-base:after {
    content: "color(blue)"; }

.sg-blue-light {
  background-color: #f0f9fb; }
  .sg-blue-light:before {
    content: "#f0f9fb"; }
  .sg-blue-light:after {
    content: "color(blue, light)"; }

.sg-stone-dark {
  background-color: #dfdfc0; }
  .sg-stone-dark:before {
    content: "#dfdfc0"; }
  .sg-stone-dark:after {
    content: "color(stone, dark)"; }

.sg-stone-base {
  background-color: #f0f0e2; }
  .sg-stone-base:before {
    content: "#f0f0e2"; }
  .sg-stone-base:after {
    content: "color(stone)"; }

.sg-steel-dark {
  background-color: #bbbdb6; }
  .sg-steel-dark:before {
    content: "#bbbdb6"; }
  .sg-steel-dark:after {
    content: "color(steel, dark)"; }

.sg-steel-base {
  background-color: #d4d5d1; }
  .sg-steel-base:before {
    content: "#d4d5d1"; }
  .sg-steel-base:after {
    content: "color(steel)"; }

.sg-steel-light {
  background-color: #ededec; }
  .sg-steel-light:before {
    content: "#ededec"; }
  .sg-steel-light:after {
    content: "color(steel, light)"; }

.sg-red-dark {
  background-color: #72000e; }
  .sg-red-dark:before {
    content: "#72000e"; }
  .sg-red-dark:after {
    content: "color(red, dark)"; }

.sg-red-base {
  background-color: #a50014; }
  .sg-red-base:before {
    content: "#a50014"; }
  .sg-red-base:after {
    content: "color(red)"; }

.sg-red-light {
  background-color: #d8001a; }
  .sg-red-light:before {
    content: "#d8001a"; }
  .sg-red-light:after {
    content: "color(red, light)"; }

.sg-yellow-dark {
  background-color: #ccb900; }
  .sg-yellow-dark:before {
    content: "#ccb900"; }
  .sg-yellow-dark:after {
    content: "color(yellow, dark)"; }

.sg-yellow-base {
  background-color: #ffe700; }
  .sg-yellow-base:before {
    content: "#ffe700"; }
  .sg-yellow-base:after {
    content: "color(yellow)"; }

.sg-yellow-light {
  background-color: #ffec33; }
  .sg-yellow-light:before {
    content: "#ffec33"; }
  .sg-yellow-light:after {
    content: "color(yellow, light)"; }

.sg-social-facebook {
  background-color: #3b5998; }
  .sg-social-facebook:before {
    content: "#3b5998"; }
  .sg-social-facebook:after {
    content: "color(social, facebook)"; }

.sg-social-linkedin {
  background-color: #0976b4; }
  .sg-social-linkedin:before {
    content: "#0976b4"; }
  .sg-social-linkedin:after {
    content: "color(social, linkedin)"; }

.sg-social-twitter {
  background-color: #55acee; }
  .sg-social-twitter:before {
    content: "#55acee"; }
  .sg-social-twitter:after {
    content: "color(social, twitter)"; }

.sg-social-youtube {
  background-color: #cc181e; }
  .sg-social-youtube:before {
    content: "#cc181e"; }
  .sg-social-youtube:after {
    content: "color(social, youtube)"; }

.sg-black {
  background-color: #000; }
  .sg-black:before {
    content: "black"; }
  .sg-black:after {
    content: "#000"; }

.sg-palette {
  float: left;
  list-style: none;
  margin-bottom: 0;
  margin-right: 20px;
  margin-top: 0;
  padding-left: 0; }
  .sg-palette > li {
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px;
    width: auto; }
  .sg-palette .sg-color {
    color: #fff;
    display: block;
    height: 50px;
    line-height: 100px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    width: 178px; }
    .sg-palette .sg-color:before, .sg-palette .sg-color:after {
      color: #000;
      font-family: monospace, serif;
      font-size: 13px;
      left: 0;
      position: absolute;
      right: 0; }
    .sg-palette .sg-color:before {
      bottom: -62px; }
    .sg-palette .sg-color:after {
      bottom: -82px; }

.chart-grey .sg-color,
.chart-grey .sg-color h4 {
  color: #c3c6c8; }

.chart-primary .sg-color,
.chart-primary .sg-color h4 {
  color: #0e3a4d; }

.chart-secondary .sg-color,
.chart-secondary .sg-color h4 {
  color: #357d7f; }

.chart-olive .sg-color,
.chart-olive .sg-color h4 {
  color: #6f8b67; }

.chart-green .sg-color,
.chart-green .sg-color h4 {
  color: #abd098; }

.chart-claret .sg-color,
.chart-claret .sg-color h4 {
  color: #814f73; }

.chart-blue .sg-color,
.chart-blue .sg-color h4 {
  color: #c8e8f0; }

.chart-stone .sg-color,
.chart-stone .sg-color h4 {
  color: #f0f0e2; }

.chart-steel .sg-color,
.chart-steel .sg-color h4 {
  color: #d4d5d1; }

.chart-red .sg-color,
.chart-red .sg-color h4 {
  color: #a50014; }

.chart-yellow .sg-color,
.chart-yellow .sg-color h4 {
  color: #ffe700; }

.chart-white .sg-color,
.chart-white .sg-color h4 {
  color: #fff; }

.chart-black .sg-color,
.chart-black .sg-color h4 {
  color: #000; }

[class*="chart-"] {
  float: none; }
  [class*="chart-"]:before, [class*="chart-"]:after {
    content: ' ';
    display: table; }
  [class*="chart-"]:after {
    clear: both; }
  [class*="chart-"] .sg-color {
    height: auto;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 0.35714rem;
    text-align: left; }
    [class*="chart-"] .sg-color:before, [class*="chart-"] .sg-color:after {
      content: "";
      position: static; }

.demo [class*="w-"] {
  background: #ccc;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  padding-top: 0.71429rem;
  padding-bottom: 0.71429rem; }

.docs-rwd-helpers span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
  padding: 15px 10px;
  text-align: center; }
.docs-rwd-helpers.visible-on [class*="w-"] .hidden-xs, .docs-rwd-helpers.visible-on [class*="w-"] .hidden-sm, .docs-rwd-helpers.visible-on [class*="w-"] .hidden-md, .docs-rwd-helpers.visible-on [class*="w-"] .hidden-lg, .docs-rwd-helpers.hidden-on [class*="w-"] .hidden-xs, .docs-rwd-helpers.hidden-on [class*="w-"] .hidden-sm, .docs-rwd-helpers.hidden-on [class*="w-"] .hidden-md, .docs-rwd-helpers.hidden-on [class*="w-"] .hidden-lg {
  border: 1px solid #ddd;
  color: #999; }
.docs-rwd-helpers.visible-on [class*="w-"] .visible-xs-block, .docs-rwd-helpers.visible-on [class*="w-"] .visible-sm-block, .docs-rwd-helpers.visible-on [class*="w-"] .visible-md-block, .docs-rwd-helpers.visible-on [class*="w-"] .visible-lg-block, .docs-rwd-helpers.hidden-on [class*="w-"] .visible-xs-block, .docs-rwd-helpers.hidden-on [class*="w-"] .visible-sm-block, .docs-rwd-helpers.hidden-on [class*="w-"] .visible-md-block, .docs-rwd-helpers.hidden-on [class*="w-"] .visible-lg-block {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847; }

.responsive-utilities td.is-visible {
  background-color: #dff0d8 !important;
  color: #468847; }
