// ====================
// VARIABLES
// ====================


// Global Variables
// ====================

$colors: (
	// Greys
	// ====================
    grey: (
      darker:   lighten(#000, 20%),  // #333
		  dark:     lighten(#000, 40%),  // #666
		  base:     lighten(#000, 60%),  // #999
		  light:    lighten(#000, 80%),  // #ccc
		  lighter:  lighten(#000, 90%),  // #e6e6e6
		  lightest: lighten(#000, 95.5%) // #f4f4f4
    ),
  // Brand Colours
	// ====================
    primary: (
    	dark:  darken(#467c9c, 7%),
      base:  #467c9c,
      light: lighten(#467c9c, 7%),
      txt:   #005373
    ),
    green: (
    	dark:  #069369, // #1d9166
      base:  #44aa8c, // #48a78a
      light: #a1ccbc  // #a1cbb9
    ),
    gold: (
    	dark:  #bf9227,
      base:  #e4c52d,
      light: #ebd66d
    ),
    red: (
    	dark:  #a00a2d, // #a11e31
      base:  #b84762, // #b7465f
      light: #ca7589  // #c57385
    ),
    blue: (
    	dark:  #006186, // #006487
      base:  #0c9aac, // #009dad
      light: #64b7cf  // #19b3cb
    ),
    purple: (
    	dark:  #592b71,
      base:  #733e8d,
      light: #b699c0
    ),
    social: (
    	facebook: #3b5998,
    	linkedin: #0976b4,
    	twitter:  #55acee,
    	youtube:  #cc181e
    )
) !default;

$brand-primary:         color(primary) !default;
$brand-primary-txt:     color(primary, txt) !default;
$brand-danger:          color(red) !default;
$brand-info:            color(purple, light) !default;
$brand-success:         color(green, dark) !default;
$brand-warning:         color(gold, dark) !default;


// Scaffolding
// --------------------

$body-bg:               #fff !default;
$txt-color:             color(grey, darker) !default;
$txt-muted:             color(grey) !default;


// Links
// --------------------

$link-color:            color(blue, light) !default;
$link-hover-color:      darken($link-color, 15%) !default;


// Typography
// --------------------

$font-family-base:        Tahoma, Verdana, Geneva, sans-serif !default;

$font-value-base:         14 !default;
$font-size-html:          87.5% !default;

$font-size-base:          sz($font-value-base) !default; // 1rem or 14px
$font-size-lg:            ($font-size-base * 1.25) !default; // ~18px
$font-size-sm:            ($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.5 !default; // 21/14
$line-height-computed:    sz($font-value-base * $line-height-base) !default; // 20px

// By default, this inherits from the `<body>`.
$headings-font-family:    "Shaker Regular", $font-family-base !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.1 !default;
$headings-color:          $brand-primary !default;

$fa-font-path:            "../fonts/font-awesome";


// Components
// --------------------
//
// Based on 1.4em(14px) font-size and 1.4 line-height (~20px to start)

$padding-base-vertical:     sz(5px) !default;
$padding-base-horizontal:   sz(12px) !default;

$padding-xs-vertical:       sz(1px) !default;
$padding-xs-horizontal:     sz(5px) !default;

$padding-sm-vertical:       sz(3px) !default;
$padding-sm-horizontal:     sz(8px) !default;

$padding-lg-vertical:       sz(10px) !default;
$padding-lg-horizontal:     sz(16px) !default;

$line-height-sm:            1.5 !default;
$line-height-lg:            1.33 !default;

$border-radius-base:        null !default; // false if no radius code required
$border-radius-lg:          null !default; // false if no radius code required
$border-radius-sm:          null !default; // false if no radius code required



// Component Variables
// ==============================

// Grid system
// --------------------

// Number of columns in the grid system
$total-columns: 12 !default;
//$row-width: sz(1300) !default;
// Padding, is divided by 2 in g-col mixin and applied to the left and right of all columns
$column-gutter: sz(20px) !default;



// Type
// --------------------

$font-size-h1:            ($font-size-base * 2.5) !default;  // ~36px
$font-size-h2:            ($font-size-base * 1.9) !default; // ~30px
$font-size-h3:            ($font-size-base * 1.5) !default;  // ~24px
$font-size-h4:            ($font-size-base * 1.25) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ($font-size-base * 0.85) !default; // ~12px


//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
//** Text muted color
$txt-muted:                   color(grey, light) !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           color(grey, light) !default;
//** Headings small color
$headings-sm-color:           color(grey, light) !default;
//** Blockquote small color
$blockquote-sm-color:         color(grey) !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;
//** Blockquote border color
$blockquote-border-color:     color(primary, light) !default;
//** Page header border color
$page-header-border-color:    color(grey, lighter) !default;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal !default;
//** Horizontal line color.
$hr-border:                   color(grey, lighter) !default;



// Buttons
// --------------------
// For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-color:                      color(grey, darker) !default;
$btn-bg:                         color(grey, lighter) !default;
//$btn-border:                     $btn-bg !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 color(primary, base) !default;
//$btn-primary-border:             $btn-primary-bg !default;



// Forms
// --------------------

// `<input>` background color
$input-bg:                       #fff !default;
// `<input disabled>` background color
$input-bg-disabled:              color(grey, lighter) !default;

// Text color for `<input>`s
$input-color:                    color(grey, dark) !default;
// `<input>` border color
$input-border:                   color(grey, lighter) !default;
// `<input>` border radius
$input-border-radius:            $border-radius-base !default;
// Border color for inputs on focus
$input-border-focus:             #66afe9 !default;

// Placeholder text color
$input-color-placeholder:        lighten(color(grey), 7%) !default;

// Default `.f-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + sz(2px)) !default;
// Large `.f-control` height
$input-height-lg:                (ceil($font-size-lg * $line-height-lg) + ($padding-lg-vertical * 2) + 2) !default;
// Small `.f-control` height
$input-height-sm:                (floor($font-size-sm * $line-height-sm) + ($padding-sm-vertical * 2) + 2) !default;

$legend-color:                   color(grey, dark) !default;
$legend-border-color:            color(grey, lighter) !default;

// Background color for textual input addons
$input-group-addon-bg:           color(grey, lighter) !default;
// Border color for textual input addons
$input-group-addon-border-color: $input-border !default;



// Navbar/Header
// --------------------

// Header
$header-bg:                        #fff !default;

// Navbar
$navbar-border:					           color(grey, lighter);
$navbar-color:					           $txt-color;
$navbar-bg:						             color(grey, lightest);
$navbar-color-inv:				         #fff;
$navbar-bg-inv:					           color(primary);

$navbar-dd-bg:	        		       $navbar-bg-inv;
$navbar-dd-color:	    		         $navbar-color-inv;
$navbar-brand-width:               120px !default;
$navbar-width:                     240px !default;

// Navbar toggle
$navbar-toggle-hover-bg:           color(grey, lightest) !default;
//$navbar-toggle-border:             #444 !default;


// Navs
// --------------------

$nav-link-padding:                 sz(10px 15px) !default;
$nav-link-hover-bg:                darken(color(grey, lighter), 5%) !default;

$nav-disabled-link-color:          color(grey, light) !default;
$nav-disabled-link-hover-color:    color(grey, light) !default;

$nav-open-link-hover-color:        #fff !default;
$nav-open-caret-border-color:      #fff !default;



// Form states and alerts
// ----------------------------------------
//## Define colors for form feedback states and, by default, alerts.

$state-success-txt:              #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-txt:                 #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-txt:              #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-txt:               #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;