<form class="f-horizontal" action="#" role="form">
  <fieldset class="wf-1">
    <legend>Inputs</legend>
    <div class="f-group">
      <label for="title" class="control-label">Name</label>
      <div class="w-3">
        <select id="title" class="f-control">
          <option>Please Select...</option>
          <option>Mr</option>
          <option>Mrs</option>
          <option>Ms</option>
        </select>
      </div>
      <div class="w-4">
        <input id="text" type="text" class="f-control" placeholder="First" />
      </div>
      <div class="w-4">
        <input id="password" type="password" class="f-control" placeholder="Last" />
      </div>
    </div>

    <div class="f-group">
      <label for="job" class="control-label">Job</label>
      <div class="w-6">
        <input id="job" type="text" class="f-control" placeholder="Job Title" />
      </div>
    </div>
  </fieldset>

  <fieldset class="f-group wf-1">
    <legend class="sr-only">Checkboxes</legend>
    <label class="control-label">Options</label>
    <div class="w-10">
      <label for="radio1" class="radio">
        <input id="radio1" name="radio" type="radio" checked="" /> Option 1
      </label>
      <label for="radio2" class="radio">
        <input id="radio2" name="radio" type="radio" /> Option 2
      </label>
    </div>
  </fieldset>

  <div class="f-group">
    <div class="w-11 w-offset-1">
      <button type="submit" class="btn btn--primary u-fr">Login</button>
    </div>
  </div>
</form>