<img alt="{{ img.square.src }}" sizes="(min-width: 500px) 50vw, 100vw" srcset="http://placeimg.com/400/400/people 400w, http://placeimg.com/600/600/tech 600w" class="img-responsive {{ styleModifier }}" />