<ul class="list-inline">
	<li class="fa fa-twitter"></li>
	<li class="fa fa-facebook"></li>
	<li class="fa fa-linkedin"></li>
	<li class="fa fa-youtube-play"></li>
	<li class="fa fa-search"></li>
  <li class="fa fa-check"></li>
  <li class="fa fa-exclamation-triangle"></li>
  <li class="fa fa-times"></li>
  <li class="fa fa-envelope"></li>
  <li class="fa fa-lock"></li>
  <li class="fa fa-spinner"></li>
  <li class="fa fa-bars"></li>
</ul>