<form action="#" role="form">
  <fieldset class="f-group">
    <legend>Checkboxes</legend>
    <label for="checkbox1" class="ckbx">
      <input id="checkbox1" name="checkbox" type="checkbox" checked /> Option 1
    </label>
    <label for="checkbox2" class="ckbx">
      <input id="checkbox2" name="checkbox" type="checkbox" /> Option 2
    </label>
    <label for="checkbox3" class="ckbx">
      <input id="checkbox3" name="checkbox" type="checkbox" /> Option 3
    </label>
  </fieldset>

  <fieldset class="f-group">
    <legend>Checkboxes to the right of text</legend>
    <label for="checkbox1" class="ckbx ckbx--right">
      Option 1 <input id="checkbox1" name="checkbox" type="checkbox" checked />
    </label>
    <label for="checkbox2" class="ckbx ckbx--right">
      Option 2 <input id="checkbox2" name="checkbox" type="checkbox" />
    </label>
    <label for="checkbox3" class="ckbx ckbx--right">
      Option 3 <input id="checkbox3" name="checkbox" type="checkbox" />
    </label>
  </fieldset>

  <fieldset class="f-group">
    <legend>Checkboxes Inline</legend>
    <label for="checkbox4" class="ckbx-inline">
      <input id="checkbox4" name="checkboxInline" type="checkbox" checked /> Option 1
    </label>
    <label for="checkbox5" class="ckbx-inline">
      <input id="checkbox5" name="checkboxInline" type="checkbox" /> Option 2
    </label>
    <label for="checkbox6" class="ckbx-inline">
      <input id="checkbox6" name="checkboxInline" type="checkbox" /> Option 3
    </label>
  </fieldset>

  <fieldset class="f-group" disabled>
    <legend>Checkboxes Disabled</legend>
    <label for="checkbox4" class="ckbx">
      <input id="checkbox4" name="checkboxDisabled" type="checkbox" /> Option 1
    </label>
    <label for="checkbox5" class="ckbx">
      <input id="checkbox5" name="checkboxDisabled" type="checkbox" /> Option 2
    </label>
    <label for="checkbox6" class="ckbx">
      <input id="checkbox6" name="checkboxDisabled" type="checkbox" /> Option 3
    </label>
  </fieldset>
</form>