<form action="#" role="form">
  <fieldset class="f-group">
    <legend>Radio Buttons</legend>
    <label for="radio1" class="radio">
      <input id="radio1" name="radio" type="radio" checked /> Option 1
    </label>
    <label for="radio2" class="radio">
      <input id="radio2" name="radio" type="radio" /> Option 2
    </label>
    <label for="radio3" class="radio">
      <input id="radio3" name="radio" type="radio" /> Option 3
    </label>
  </fieldset>

  <fieldset class="f-group">
    <legend>Radio Button to the right of text</legend>
    <label for="radio4" class="radio radio--right">
      Option 1 <input id="radio4" name="radio" type="radio" checked />
    </label>
    <label for="radio5" class="radio radio--right">
      Option 2 <input id="radio5" name="radio" type="radio" />
    </label>
    <label for="radio6" class="radio radio--right">
      Option 3 <input id="radio6" name="radio" type="radio" />
    </label>
  </fieldset>

  <fieldset class="f-group">
    <legend>Radio Button Inline</legend>
    <label for="radio7" class="radio-inline">
      <input id="radio7" name="radioInline" type="radio" checked /> Option 1
    </label>
    <label for="radio8" class="radio-inline">
      <input id="radio8" name="radioInline" type="radio" /> Option 2
    </label>
    <label for="radio9" class="radio-inline">
        <input id="radio9" name="radioInline" type="radio" /> Option 3
    </label>
  </fieldset>

  <fieldset class="f-group" disabled>
    <legend>Radio Button Disabled</legend>
    <label for="radio10" class="radio">
      <input id="radio10" name="radioDisabled" type="radio" /> Option 1
    </label>
    <label for="radio11" class="radio">
      <input id="radio11" name="radioDisabled" type="radio" /> Option 2
    </label>
    <label for="radio12" class="radio">
      <input id="radio12" name="radioDisabled" type="radio" /> Option 3
    </label>
  </fieldset>
</form>