&lt;div class=&quot;navbar__crumbs&quot;&gt;
    &lt;nav id=&quot;breadcrumbs&quot; class=&quot;crumbs&quot;&gt;
        &lt;h3 class=&quot;crumbs__header&quot;&gt;&lt;a href=&quot;#breadcrumbs&quot;&gt;Where Am I?&lt;/a&gt;&lt;/h3&gt;
        &lt;ul class=&quot;crumbs__list&quot;&gt;
            &lt;li class=&quot;crumbs__item&quot;&gt;
                &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;crumbs__item&quot;&gt;
                &lt;a href=&quot;/level-1&quot;&gt;Level 1&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;crumbs__item crumbs__item--last&quot;&gt;
                &lt;a href=&quot;/&quot;&gt;Level 2&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;

    &lt;div id=&quot;js-navbarSearch&quot; class=&quot;navbar__search&quot;&gt;
        &lt;form&gt;
            &lt;label for=&quot;search&quot; class=&quot;sr-only&quot;&gt;Search website&lt;/label&gt;
            &lt;input type=&quot;search&quot; id=&quot;search&quot; class=&quot;form-control navbar__search-input&quot; placeholder=&quot;Search website&quot;&gt;
            &lt;input type=&quot;submit&quot; id=&quot;btnSearch&quot; class=&quot;navbar__search-submit&quot; aria-label=&quot;Search&quot;&gt;
            &lt;span class=&quot;fa navbar__search-icon&quot; title=&quot;Click to Search&quot;&gt;&lt;/span&gt;
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/div&gt;