&lt;div class=&quot;media&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    &lt;div class=&quot;media_fr&quot;&gt;
      {{&gt; atoms-square:media_element }}
    &lt;/div&gt;
    &lt;h3 class=&quot;media_heading&quot;&gt;{{ headline.short }}&lt;/h3&gt;
  &lt;/a&gt;
  &lt;div class=&quot;media_body&quot;&gt;
    &lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--primary u-fr&quot;&gt;Read more&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;