&lt;div class=&quot;navbar_crumbs&quot;&gt;
    &lt;nav class=&quot;list-collapsable crumbs&quot;&gt;
        &lt;h3 class=&quot;list-collapsable_header&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;
            &lt;svg class=&quot;i&quot;&gt;
              &lt;use xlink:href=&quot;../../images/icons/svg-defs.svg#triangle-down&quot; /&gt;
            &lt;/svg&gt;Where Am I?
          &lt;/a&gt;
        &lt;/h3&gt;
        &lt;ul class=&quot;list-collapsable_list&quot;&gt;
            &lt;li class=&quot;crumbs_item crumbs_item--first&quot;&gt;
                &lt;a href=&quot;/&quot; class=&quot;i i-home&quot; title=&quot;Home&quot;&gt;
                  &lt;span&gt;Home&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;crumbs_item&quot;&gt;
                &lt;a href=&quot;/level-1&quot; title=&quot;Connecting&quot;&gt;Connecting&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;crumbs_item&quot;&gt;
                &lt;a href=&quot;/&quot; title=&quot;Events&quot;&gt;Events&lt;/a&gt;
            &lt;/li&gt;
          &lt;li class=&quot;crumbs_item crumbs_item--last&quot;&gt;Annual Convention 2015&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;

    &lt;!--&lt;div id=&quot;js-navbarSearch&quot; class=&quot;navbar__search&quot;&gt;
        &lt;form&gt;
            &lt;label for=&quot;search&quot; class=&quot;sr-only&quot;&gt;Search website&lt;/label&gt;
            &lt;input type=&quot;search&quot; id=&quot;search&quot; class=&quot;f-control navbar__search-input&quot; placeholder=&quot;Search website&quot;&gt;
            &lt;input type=&quot;submit&quot; id=&quot;btnSearch&quot; class=&quot;navbar__search-submit&quot; aria-label=&quot;Search&quot;&gt;
            &lt;span class=&quot;fa navbar__search-icon&quot; title=&quot;Click to Search&quot;&gt;&lt;/span&gt;
        &lt;/form&gt;
    &lt;/div&gt;--&gt;
&lt;/div&gt;