&lt;nav class=&quot;navbar__primary flyout--navbar&quot; role=&quot;navigation&quot;&gt;
    &lt;ul id=&quot;toggle-nav&quot; class=&quot;nav flyout__inner flyout__inner--navbar&quot;&gt;
        &lt;li class=&quot;navbar__dropdown&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Guiding&lt;/a&gt;
            &lt;div class=&quot;dropdown--mega&quot;&gt;
                &lt;div class=&quot;l-container&quot;&gt;
                    &lt;ul class=&quot;nav&quot;&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Advice and information&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Ask Anna&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Business topics&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;navbar__dropdown&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Developing&lt;/a&gt;
            &lt;div class=&quot;dropdown--mega&quot;&gt;
                &lt;div class=&quot;l-container&quot;&gt;
                    &lt;ul class=&quot;nav&quot;&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Board development&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Chartered Director&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;navbar__dropdown&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Connecting&lt;/a&gt;
            &lt;div class=&quot;dropdown--mega&quot;&gt;
                &lt;div class=&quot;l-container&quot;&gt;
                    &lt;ul class=&quot;nav&quot;&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Annual Convention 2013&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;navbar__dropdown&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Influencing&lt;/a&gt;
            &lt;div class=&quot;dropdown--mega&quot;&gt;
                &lt;div class=&quot;l-container&quot;&gt;
                    &lt;ul class=&quot;nav&quot;&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Area of influence&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;The economy&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;navbar__dropdown&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;You&lt;/a&gt;
            &lt;div class=&quot;dropdown--mega&quot;&gt;
                &lt;div class=&quot;l-container&quot;&gt;
                    &lt;ul class=&quot;nav&quot;&gt;
                        &lt;li&gt;&lt;h4&gt;&lt;a href=&quot;#&quot;&gt;Your venues and benefits&lt;/a&gt;&lt;/h4&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;International&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;East Midlands&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                    &lt;ul class=&quot;nav&quot;&gt;
                        &lt;li&gt;&lt;h4&gt;&lt;a href=&quot;#&quot;&gt;Your local network&lt;/a&gt;&lt;/h4&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Director training and development&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Legal alert&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Advisory Service&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Law Express&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Tax Line&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Publications&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Legal alert&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Advisory Service&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Law Express&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Tax Line&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Publications&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Legal alert&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Advisory Service&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Law Express&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Directors&#39; Tax Line&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Publications&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Legal alert&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;!-- &lt;li class=&quot;navbar__membership navbar__dropdown&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;member&quot;&gt;Membership&lt;/a&gt;
            &lt;div class=&quot;dropdown--mega&quot;&gt;
                &lt;div class=&quot;l-container&quot;&gt;
                    &lt;ul class=&quot;nav&quot;&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;International&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;East Midlands&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/li&gt; --&gt;
        &lt;li class=&quot;navbar__membership&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;join&quot;&gt;Join the IoD&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;