<body class="body">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->    
    <div class="navbar__push page" id="page">
        <!-- Begin .header -->
        <header class="l-header" role="banner">
            <div class="l-container">
                {{> atoms-navbar-brand }}

                <input type="checkbox" id="js-toggle" class="navbar__check" role="button">
                <label for="js-toggle" id="leftPush" class="navbar__toggle fa">
                    <span class="sr-only">Toggle navigation</span>
                </label>

                {{> molecules-navbar-primary }}
            </div>
        </header><!-- end .header -->
