<p class="txt-left">Left aligned text.</p>
<p class="txt-center">Center aligned text.</p>
<p class="txt-right">Right aligned text.</p>
<p class="txt-justify">Justified text. A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.</p>
<p class="txt-nowrap">No wrap text. A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.</p>